<div class="counterparty-dialog">
  <div mat-dialog-title class="counterparty-dialogTitle p-tb-5 p-l-15 p-r-15">
      PRICE DATASET ID : 001
      <span>
          <img id="plus-icon" src="../../../assets/customicons/close_white.svg" alt="plus" style="cursor: pointer;" (close)="closeDialog()">
      </span>
  </div>
  <mat-dialog-content>
    <div class="counterparty-list-title">
      <p>SELECT COUNTERPARTIES</p>
    </div>
    <div class="counterparty-list-details">
      <div class="counterparty-list-header">
          <table class="table scroll alt-stripe bg-white br-tbl tr-shadow light-header">
              <thead>
                <tr>
                  <th class="text-center"><mat-checkbox class="dark-checkbox noborder"></mat-checkbox></th>
                  <th>Counterparty</th>
                  <th class="text-center">Contact</th>
                  <th class="text-center">Phone</th>
                  <th class="text-center">Email</th>
                </tr>
              </thead>
          </table>
      </div>
      <table class="table scroll alt-stripe bg-white br-tbl tr-shadow light-header">
        <thead>
          <!--<tr>
            <th class="text-center"><mat-checkbox class="dark-checkbox noborder"></mat-checkbox></th>
            <th>Counterparty</th>
            <th class="text-center">Contact</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Email</th>
          </tr>-->
        </thead>
        <tbody>
          <!-- Single Row Start -->
          <tr>
            <td class="text-center">
              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
            </td>
            <td>
              <p>Shell</p>
            </td>
            <td>
              <p class="text-center">James</p>
            </td>
            <td>
              <p class="text-center">9099090999</p>
            </td>
            <td>
              <p class="text-center">Shell123@shell.co.in</p>
            </td>
          </tr>
          <!-- Single Row End -->
          <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
          <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
          </tr>
            <!-- Single Row End -->
        </tbody>
      </table>
    </div>
    <div class="notes">
        <div class="counterparty-list-title m-t-10 m-b-5">
            <p>NOTES</p>
        </div>
    </div>
    <div class="notes-section">
      <input type="text" class="notes p-l-24" placeholder="Your Notes here"/>
    </div>
    <button mat-raised-button class="sendmail-button mat-button" (click)="closeDialog()">Send Mail</button>
  </mat-dialog-content>
  
</div>
