<div class="container-fluid pr-0">
  <div class="row">
    <div id="bodyContent" class="col-md-12">

      <div class="mb15">
        <img src="../../../assets/customimages/suppliers/sp-platts.svg" alt="SP-Platts" style="width: 100px; height: auto;">
      </div>
      <div style="margin-bottom: 7px;">
        <img src="../../../assets/customimages/suppliers/bunkerworld.png" alt="bunkerworld" style="width: 135px; height: auto;">
      </div>

      <div style="font-weight: 700; font-size: 1.15rem;">Bunkerworld Latest News</div>
      <div class="mb15">Copyright: &copy; 2019 by S&amp;P Global Platts, a division of S&amp;P Global Inc, see <a class="dark-link" href="http://www.bunkerworld.com/home/tandc"
          target="_blank" rel="noopener">http://www.bunkerworld.com/home/tandc</a> for terms and conditions of reuse</div>

      <div id="newsContainer">

        <mat-accordion>
          <!-- SINGLE NEWS ITEM: START LOOP -->
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Container line Maersk announces New Jersey 0.5% sulfur bunker production deal
                <div class="time-period ml-auto">1 hour ago</div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="panel-body">
              <p>AP Moller-Maersk, owners of the largest shipping company in the world, announced a deal with New
                Jersey-based storage and pipeline operator PBF Logistics to produce and store 0.5% sulfur marine fuels
                on the US East Coast.
                <p>Maersk will source crude oil and PBF Logistics will process it at its CPI Operations terminal in New
                  Jersey, Maersk said Thursday. The deal envisages annual production of about 1.25 million mt/year,
                  representing about 10% of Maersk's annual fuel demand.</p>
                <p>The product will also be made available to external customers through Maersk Oil Trading.</p>

                <a class="dark-link" href="http://www.bunkerworld.com/news/Container-line-Maersk-announces-New-Jersey-0-5-sulfur-bunker-production-deal-153386"
                  target="_blank" rel="noopener">Original Article Link</a>
                <div class="publish-time">Published on: 14th February 2019, 10:26:00</div>
            </div>
          </mat-expansion-panel>
          <!-- SINGLE NEWS ITEM: END LOOP -->

          <!-- SINGLE NEWS ITEM: START LOOP -->
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Singapore gasoil front-month swap near 3-month high on firmer outlook
                <div class="time-period ml-auto">2 hours ago</div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="panel-body">
              <strong>Excess gasoil supplies being cleared from Asia, regional turnarounds and firmer demand in the
                months ahead are supporting the firmer outlook.</strong>
              <p>The front-month March Singapore gasoil swaps spotted a near three-month high Wednesday on the back of
                steady trading activities coupled with firmer expectations on the near term outlook in the physical
                market.</p>
              <p>At the Asian close Wednesday, the Asian gasoil swap jumped $1.21/b to $77.46/b, marking the highest
                level since November 22 when it was assessed at $78.13/b, S&amp;P Global Platts data showed. Excess
                gasoil supplies being cleared from Asia, regional turnarounds and firmer demand in the months ahead are
                supporting the firmer outlook.</p>
              <p> Market participants are hopeful that Chinese gasoil demand, which has been going through a lull
                period
                over the Lunar New Year period, will pick up in March when demand from the agricultural sector as well
                as
                construction projects start to pick up pace.</p>
              <p> Still, the FOB Singapore cash differential for 10 ppm sulfur gasoil cargoes eased back slightly by 3
                cents/b, falling to minus 45 cents/b to the Mean of Platts Singapore Gasoil assessments at the Asian
                close Wednesday.</p>
              <p> The bullish sentiment was also evident further down the curve with the gasoil Q2/Q3 spread rising 6
                cents/b day on day to minus 35 cents/b. On cracks, the front-month March Singapore gasoil swaps against
                Brent swaps -- which measures the relative value of the product to crude oil -- rose 18 cents/b to be
                assessed at $14.51/b on Wednesday.</p>
              <p> Meanwhile, the Q2 gasoil cracks against Brent averaged $14.79/b Wednesday, further supporting a
                firmer
                outlook in the near term Singapore gasoil market.</p>

              <a class="dark-link" href="http://www.bunkerworld.com/news/Singapore-gasoil-front-month-swap-near-3-month-high-on-firmer-outlook-153383"
                target="_blank" rel="noopener">Original Article Link</a>
              <div class="publish-time">Published on: 14th February 2019, 07:51:00</div>
            </div>
          </mat-expansion-panel>
          <!-- SINGLE NEWS ITEM: END LOOP -->

          <!-- SINGLE NEWS ITEM: START LOOP -->
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dominica-flagged supply vessel sinks in Singapore waters: MPA
                <div class="time-period ml-auto">3 hours ago</div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="panel-body">
              <strong>There was no oil pollution or injury reported, the MPA said.</strong>
              <p>&nbsp;The Maritime and Port Authority of Singapore said that Dominica-flagged supply vessel Ocean
                Cooper
                2 had sunk in Singapore Territorial Waters in the Singapore Strait at about 7:15 am Singapore time
                (1115
                GMT) on Thursday.</p>
              <p>The supply vessel capsized and sank in the westbound lane of the Traffic Separation Scheme, about 3
                nautical miles from Pedra Branca, MPA said in a statement.</p>
              <p>There was no oil pollution or injury reported, the MPA said, adding that traffic in the Singapore
                Strait
                remains unaffected.</p>
              <p>All three Indonesian crew were rescued by a nearby accompanying supply vessel, Jolly Rachel, it said.</p>
              <p>Meanwhile, MPA has also issued navigational broadcasts asking ships to navigate with caution in the
                vicinity of the incident and has deployed a craft to conduct a hydrographic survey of the wreck, it
                said.</p>
              <p>MPA is still investigating the incident, it said.</p>
              <p>Singapore is the world&rsquo;s largest bunkering port. Total arrivals of vessels with over 75 gross
                tonnage in the Port of Singapore stood at 140,768 in 2018.</p>

              <a class="dark-link" href="http://www.bunkerworld.com/news/Dominica-flagged-supply-vessel-sinks-in-Singapore-waters-MPA-153382"
                target="_blank" rel="noopener">Original Article Link</a>
              <div class="publish-time">Published on: 14th February 2019, 07:48:00</div>
            </div>
          </mat-expansion-panel>
          <!-- SINGLE NEWS ITEM: END LOOP -->

        </mat-accordion>
      </div>
    </div>

    <!-- RIGHT PANE START -->
    <!-- <div id="rightPane" class="col-md-2 p-0">
      <h3>Date Published</h3>
      <ul>
        
        <li class="news-item active">Thursday, 14th Feb 2019</li>
        <li class="news-item">Wednesday, 13th Feb 2019</li>
        <li class="news-item">Tuesday, 12th Feb 2019</li>
        <li class="news-item">Monday, 11th Feb 2019</li>
      </ul>
    </div> -->
    <!-- RIGHT PANE END -->

  </div>
</div>