<div class="container pt-5">

  <mat-chip-list>

    <mat-chip class="active-chip text-center" matTooltip="United Kingdom" [matTooltipShowDelay]="500">
      <div class="truncate-140">
        United Kingdom
      </div>
    </mat-chip>

    <mat-chip class="inactive-chip text-center" matTooltip="South America" [matTooltipShowDelay]="500">
      <div class="truncate-140">
        South America
      </div>
    </mat-chip>

    <mat-chip class="inactive-chip text-center" matTooltip="Grey Chip with Truncated Text" [matTooltipShowDelay]="500">
      <div class="truncate-140">
        Grey Chip with Truncated Text
      </div>
    </mat-chip>

    <mat-chip class="active-chip text-center" matTooltip="Green Chip with Truncated Text" [matTooltipShowDelay]="500">
      <div class="truncate-140">
        Green Chip with Truncated Text
      </div>
    </mat-chip>

    <mat-chip class="icon-chip text-center" matTooltip="Expand Filters" [matTooltipShowDelay]="500">
      <div class="mx-auto d-block">
        <img src="../../../assets/customicons/more.svg" alt="Expand Filters">
      </div>
    </mat-chip>

  </mat-chip-list>

  <!-- #region CHIP ITERATION CODE R&D -->
  <mat-chip-list>
    <mat-chip class="active-chip text-center" matTooltip="Bind Value" [matTooltipShowDelay]="500">
      <div class="truncate-140">
        Bind Value
      </div>
    </mat-chip>
  </mat-chip-list>
  <!-- #endregion CHIP ITERATION CODE R&D -->

</div>
