<div class="offer-price-history-popup">

  <div class="spot-popup-header-container"><div class="spot-nego-title">Offer Price History</div>
  <div class="spot-dialog-title-right">  
    <span class="close" style="cursor:pointer;" [mat-dialog-close]="true"></span>  
    <!-- <div class="close-circle">
    <mat-icon id="dialogCloseButton" matSuffix class="" (click)="closeDialog() " style="font-size: 13px; display: inline; position: relative; top:-2px;">close</mat-icon>
      </div> -->
  </div>
    
  </div>
  
  <hr class="hr-line">
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="p-l-15">
        
        <span class="location-main-heading">Tabular Represenation</span>
      </div>   
    </div> 
      
    <div class="product-terms p-b-5 p-l-15">
      <div class="operations-details-block offerprice-history" style="height: auto; max-height: 75vh; display: flex; overflow-y: scroll;">
        <table style="width: 18vw; left: 0; z-index: 1; position: sticky">
          <thead class="sticky-thead">
            <tr style="border-radius: 0px !important;">             
              <th class="text-left with-ellipsis" style="width: 40%;">CounterParty</th>
              <th class="text-left with-ellipsis" style="width: 30%;">Diff</th>
              <th class="text-left with-ellipsis" style="width: 30%;">Curr. offer</th>
            </tr>
          </thead>
          <tbody>
            <tr id="commentList" *ngFor="let tabledata of tabledata.graphData;let i = index">
              <td style="width: 40%;" class="with-ellipsis" matTooltip="{{tabledata.name}}" matTooltipClass="lightTooltip">{{tabledata.name}}</td>
              <td style="width: 30%;" class="with-ellipsis" matTooltip="{{tabledata.diff}}" matTooltipClass="lightTooltip">{{tabledata.diff}}</td>
              <td style="width: 30%;" class="with-ellipsis" matTooltip="{{tabledata.curroff}}" matTooltipClass="lightTooltip">{{tabledata.curroff}}</td>               
            </tr>    
          </tbody>
        </table>
        <div style="width: 35vw; max-width: 20vw; height: 100%;">
          <table style="width: 28vw; overflow-x: scroll;">
            <thead class="sticky-thead">
              <tr style="border-radius: 0px !important;">
                <th class="text-left" style="width: 30%;">Past off</th>
                <th class="text-left"></th>
                <th class="text-left"></th>
                <th class="text-left"></th>
                <th class="text-left"></th>
                <th class="text-left"></th>
                <th class="text-left"></th>
              </tr>
            </thead>
            <tbody>
              <tr id="commentList" *ngFor="let tabledata of tabledata.graphData;let i = index">
                    <td class="text-left with-ellipsis" style="width: 30%;" matTooltip="{{tabledata.pastoffer}}" matTooltipClass="lightTooltip">{{tabledata.pastoffer}}</td>
                    <td class="text-left with-ellipsis" style="width: 30%;" matTooltip="{{tabledata.off3}}" matTooltipClass="lightTooltip">{{tabledata.off3}}</td>
                    <td class="text-left with-ellipsis" style="width: 30%;" matTooltip="{{tabledata.off4}}" matTooltipClass="lightTooltip">{{tabledata.off4}}</td>
                    <td class="text-left with-ellipsis" style="width: 30%;">-</td>
                    <td class="text-left with-ellipsis" style="width: 30%;">-</td>              
                    <td class="text-left with-ellipsis" style="width: 30%;">-</td>              
                    <td class="text-left with-ellipsis" style="width: 30%;">-</td>              
              </tr>    
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 
  <div class="col-6">
    <div class="row">
      <div class="col-4" style="margin-left: -15px;">
        <span class="location-main-heading">Graphical Representation</span>
        
      </div>
      <div class="col-8 text-right">
       
        <span class="location-title-marketprice">Location:</span>
        <span class="location-value-marketprice m-r-5"> {{tabledata.info.location}}</span>
        <span class="location-title-marketprice"> Product:</span>
        <span class="location-value-marketprice m-r-5">{{tabledata.info.product}}</span>
      </div>
    </div>
    <div style="height: 75vh;border: 4px solid #E0E1E4;">
    <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"></highcharts-chart>
  </div>
  </div>
  </div>

</div>