<div class="container">

  <div class="vessel-popup-wrapper">

    <div class="vessel-header">
      <table class="table">
        <tbody>
          <tr class="table-header">
            <td rowspan="2">
              <span class="pr-2">Location:</span>
              <span class="fs18-fw100">ROTTERDAM</span>
            </td>
            <td>ETA</td>
            <td class="fs12">Latest ETA</td>
            <td>ETB</td>
            <td class="fs12">Latest ETB</td>
            <td>ETD</td>
            <td class="fs12">Latest ETD</td>
          </tr>
          <tr>
            <td>23/02/2018</td>
            <td class="fs12">23/02/2018</td>
            <td>23/02/2018</td>
            <td class="fs12">23/02/2018</td>
            <td>24/02/2018</td>
            <td class="fs12">25/02/2018</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="vessel-popup-content">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 p-0">
                <section id="market-prices" class="market-prices">
                  <div class="section-title">market prices</div>
                  <div class="section-badge">
                    <table class="table table-odd-stripe fs12">
                      <thead>
                        <tr class="fs12 text-center">
                          <td class="pt-2">&nbsp;</td>
                          <td class="pt-2" colspan="2">HSFO</td>
                          <td class="pt-2" colspan="2">ULSFO</td>
                          <td class="pt-2" colspan="2">DOGO</td>
                        </tr>
                        <tr class="text-center">
                          <td>&nbsp;</td>
                          <td>$/mt</td>
                          <td>+/-</td>
                          <td>$/mt</td>
                          <td>+/-</td>
                          <td>$/mt</td>
                          <td>+/-</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">
                            <div class="fs18-fw100">Today</div>
                            <div class="fs10">11/06/18</div>
                          </td>
                          <td>423.00</td>
                          <td>
                            <div class="float-left">
                              <i class="fas fa-caret-up"></i>
                            </div>
                            <div class="float-right">5.00</div>

                          </td>
                          <td>644.40</td>
                          <td>
                            <i class="fas fa-caret-up"></i>
                            4.00</td>
                          <td>657.40</td>
                          <td>
                            <i class="fas fa-caret-down"></i>
                            -3.00</td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <div class="fs18-fw100">Yesterday</div>
                            <div class="fs10">10/06/18</div>
                          </td>
                          <td>423.00</td>
                          <td>
                            <i class="fas fa-caret-up"></i>
                            5.00</td>
                          <td>644.40</td>
                          <td>
                            <i class="fas fa-caret-up"></i>
                            4.00</td>
                          <td>657.40</td>
                          <td>
                            <i class="fas fa-caret-down"></i>
                            -3.00</td>
                        </tr>
                        <tr>
                          <td colspan="7">
                            <a href="#" class="float-right blue-link fs18-fw100 p10" target="_blank" rel="noopener">Price History</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </section>
              </div>
            </div>

            <div class="row">
              <section id="user-comments">
                <div class="section-title">comments (2)
                  <i class="fas fa-chevron-down"></i>
                </div>
                <div class="grey-box">

                  <div class="available-comments">

                    <!-- Single Comment Start -->
                    <div class="comments-box">
                      <div class="row">
                        <div class="col-sm-1">
                          <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=M B" alt="MB">
                        </div>
                        <div class="col-sm-11">
                          <div class="row pl5">
                            <div class="name float-left">Martin Brodersen</div>
                            <div class="date float-left">13 June 2018 09:49
                              <i class="fas fa-chevron-down"></i>
                            </div>
                          </div>
                          <div class="row pl5">
                            <div class="comment">
                              FYI, the Port of Rotterdam successfully renews its PERS certificate
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Comment End -->

                    <!-- Single Comment Start -->
                    <div class="comments-box">
                      <div class="row">
                        <div class="col-sm-1">
                          <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=A P" alt="AP">
                        </div>
                        <div class="col-sm-11">
                          <div class="row pl5">
                            <div class="name float-left">Anders Petersen</div>
                            <div class="date float-left">13 June 2018 09:50
                              <i class="fas fa-chevron-down"></i>
                            </div>
                          </div>
                          <div class="row pl5">
                            <div class="comment">
                              PERS comprises a set of guidelines to (self-)assess the individual performance of ports in the area of environmental management.
                            </div>
                          </div>
                          <div class="row pl5 pt10">
                            <div class="attachment">
                              <div class="attachment-icon float-left">
                                <img src="../../../assets/images/attachment.svg" alt="Attachment">
                              </div>
                              <div class="attachment-text float-left pl10 pt5">
                                <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Comment End -->

                    <!-- Single Comment Start -->
                    <div class="comments-box">
                      <div class="row">
                        <div class="col-sm-1">
                          <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=A P" alt="AP">
                        </div>
                        <div class="col-sm-11">
                          <div class="row pl5">
                            <div class="name float-left">Anders Petersen</div>
                            <div class="date float-left">13 June 2018 09:50
                              <i class="fas fa-chevron-down"></i>
                            </div>
                          </div>
                          <div class="row pl5">
                            <div class="comment">
                              PERS comprises a set of guidelines to (self-)assess the individual performance of ports in the area of environmental management.
                            </div>
                          </div>
                          <div class="row pl5 pt10">
                            <div class="attachment">
                              <div class="attachment-icon float-left">
                                <img src="../../../assets/images/attachment.svg" alt="Attachment">
                              </div>
                              <div class="attachment-text float-left pl10 pt5">
                                <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Comment End -->

                    <!-- Single Comment Start -->
                    <div class="comments-box">
                      <div class="row">
                        <div class="col-sm-1">
                          <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=A P" alt="AP">
                        </div>
                        <div class="col-sm-11">
                          <div class="row pl5">
                            <div class="name float-left">Anders Petersen</div>
                            <div class="date float-left">13 June 2018 09:50
                              <i class="fas fa-chevron-down"></i>
                            </div>
                          </div>
                          <div class="row pl5">
                            <div class="comment">
                              PERS comprises a set of guidelines to (self-)assess the individual performance of ports in the area of environmental management.
                            </div>
                          </div>
                          <div class="row pl5 pt10">
                            <div class="attachment">
                              <div class="attachment-icon float-left">
                                <img src="../../../assets/images/attachment.svg" alt="Attachment">
                              </div>
                              <div class="attachment-text float-left pl10 pt5">
                                <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Comment End -->

                  </div>


                  <div class="new-comment-section">
                    <div class="row">
                      <div class="col-md-10 p-0">
                        <div class="new-comment">
                          <mat-form-field>
                            <!-- <input matInput type="text" placeholder="Your comments here"> -->
                            <textarea class="comment-field" matInput placeholder="Your comments here"></textarea>
                            <button mat-button matSuffix mat-icon-button aria-label="Your comments here" (click)="value=''">
                              <mat-icon>attach_file</mat-icon>
                            </button>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button mat-flat-button class="post-btn">post</button>
                      </div>
                    </div>
                  </div>


                </div>
              </section>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <section id="bunker-suppliers">
                <div class="col-md-12 p-0">
                  <div class="section-title">bunker supplies in rotterdam</div>
                  <div class="section-badge">
                    <div class="scroll-wrapper table-responsive-md">
                      <table class="table table-odd-stripe mb-0 lh-35">
                        <thead>
                          <tr class="h35">
                            <td class="fw600" matTooltip="Name" [matTooltipShowDelay]="500">Name</td>
                            <td class="text-center fw600" matTooltip="Trader" [matTooltipShowDelay]="500">Trader</td>
                            <td class="text-center fw600">
                              <div class="truncate-80" matTooltip="Physical Suppliers" [matTooltipShowDelay]="500">Physical Suppliers</div>
                            </td>
                            <td class="text-center fw600" matTooltip="Rating" [matTooltipShowDelay]="500">Rating</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td matTooltip="Argos Bunkering" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Argos Bunkering</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Chemoil Europe" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Chemoil Europe</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="ExxonMobil Marine" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">ExxonMobil Marine</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Golden Arrow Europe" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Golden Arrow Europe</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Gulf Petrochemicals BV" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Gulf Petrochemicals BV</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Peninsula Petrochemicals Ltd." [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Peninsula Petrochemicals Ltd.</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Shell Trading" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Shell Trading</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Total Marine Fuels" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Total Marine Fuels</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>

                          <tr>
                            <td matTooltip="Argos Bunkering" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Argos Bunkering</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Chemoil Europe" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Chemoil Europe</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="ExxonMobil Marine" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">ExxonMobil Marine</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Golden Arrow Europe" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Golden Arrow Europe</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Gulf Petrochemicals BV" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Gulf Petrochemicals BV</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Peninsula Petrochemicals Ltd." [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Peninsula Petrochemicals Ltd.</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Shell Trading" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Shell Trading</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>
                          <tr>
                            <td matTooltip="Total Marine Fuels" [matTooltipShowDelay]="500" matTooltipPosition="left">
                              <div class="truncate-120">Total Marine Fuels</div>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td class="text-center">
                              <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                            </td>
                            <td>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star filled-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </td>
                          </tr>


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="row pt10">
              <div class="col-sm-7 pl-0">
                <section id="port-restrictions">
                  <div class="section-title">port restrictions</div>
                  <div class="section-badge">
                    <table class="table table-even-stripe lh-32">
                      <tbody>
                        <tr>
                          <td>Tide</td>
                          <td>No</td>
                        </tr>
                        <tr>
                          <td>Overhead Limit</td>
                          <td>Yes</td>
                        </tr>
                        <tr>
                          <td>Swell</td>
                          <td>No</td>
                        </tr>
                        <tr>
                          <td>Ice</td>
                          <td>No</td>
                        </tr>
                        <tr>
                          <td>Other</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="2">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </section>
              </div>
              <div class="col-sm-5 p-0">
                <section id="links" class="ulp-15">
                  <div class="section-title">links</div>
                  <div class="grey-box">
                    <div class="white-box">
                      <ul>
                        <li>
                          <a class="blue-link" href="#" target="_blank" rel="noopener">Edit Location Info</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container pb-3">
      <button class="round-border white center" mat-stroked-button>
        <i class="fas fa-arrows-alt-v"></i>
        Minimise Options
      </button>
    </div> -->
  </div>

</div>