save=true
save-exact=true
ca=null
registry=https://inatech.pkgs.visualstudio.com/_packaging/Techoil/npm/registry/
always-auth=true

;;//inatech.pkgs.visualstudio.com/_packaging/Techoil/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIzZDNiM2I5NC01ZGY3LTY1ODctOGE4Yy1lZTk1MjE2Yjk3M2UiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMDdiMmQ1ODctN2NkNy00NjIwLTgxMzctM2M2MjU1NWNmNTU0Iiwic2lkIjoiNTE3Mzc4YzktMjJhNS00ZWVhLThjNDYtNjMxZDA3ZDQ3Y2UzIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ZjMxMDMyOTQtMWQ5NS00YzAzLTlkNDYtMmJhZjEwZWY4NDFjIiwibmJmIjoxNTMyNDI1NjMwLCJleHAiOjE1NDAyMDE2Mjl9.NJLtmz0Zc8-UHcX767qbCdeoSf2Uyz5FFqCi3CrVXO7brxPjXawR5aUxX3_H2p9aOO8hFS2XWTFMGAse1SQv1LzcLSofTBsus8FJVPS5r4CNSjsdCzzagtYL4ekoWYtC9rV3t6LKyVjjFL7WuuysHbMr3MfiAiZ0Vpr1V22g3UWl-htwxZyF8RSsF6WPx-RJ9fLOQe0q8qCKi22WN6oKs59HxbGQt3BsIPKlsOE16tQScjrn-Pxk-M7SGi98gCfVUU2pvgQ1fOIYXCEEtrssdFkS_Ar7AmomRqqnVYhxMa75hktekmm97i62Rv6N203grXbZ7HaqX6xTgG6xeGuq4Q
;;//inatech.pkgs.visualstudio.com/_packaging/Techoil/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIzZDNiM2I5NC01ZGY3LTY1ODctOGE4Yy1lZTk1MjE2Yjk3M2UiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMDdiMmQ1ODctN2NkNy00NjIwLTgxMzctM2M2MjU1NWNmNTU0Iiwic2lkIjoiNTE3Mzc4YzktMjJhNS00ZWVhLThjNDYtNjMxZDA3ZDQ3Y2UzIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ZjMxMDMyOTQtMWQ5NS00YzAzLTlkNDYtMmJhZjEwZWY4NDFjIiwibmJmIjoxNTMyNDI1NjMwLCJleHAiOjE1NDAyMDE2Mjl9.NJLtmz0Zc8-UHcX767qbCdeoSf2Uyz5FFqCi3CrVXO7brxPjXawR5aUxX3_H2p9aOO8hFS2XWTFMGAse1SQv1LzcLSofTBsus8FJVPS5r4CNSjsdCzzagtYL4ekoWYtC9rV3t6LKyVjjFL7WuuysHbMr3MfiAiZ0Vpr1V22g3UWl-htwxZyF8RSsF6WPx-RJ9fLOQe0q8qCKi22WN6oKs59HxbGQt3BsIPKlsOE16tQScjrn-Pxk-M7SGi98gCfVUU2pvgQ1fOIYXCEEtrssdFkS_Ar7AmomRqqnVYhxMa75hktekmm97i62Rv6N203grXbZ7HaqX6xTgG6xeGuq4Q