<!-- <mat-dialog-content> -->
<div class="dialog-container">
  <span class="dialog-title-bg">AR - Invoice Summary</span>
  <mat-icon id="dialogCloseButton" matSuffix class="float-right" (click)="closeDialog()">close</mat-icon>
  <hr class="m-t-3">
  <div class="nested-block m-b-15">
    <table class="nested">
      <thead class="p-t-0 p-l-0 p-r-0">
        <div class="invoice-location">
          <span class="blue-circle"></span>
          <span class="invoice-delivery-no">PHB10239-1</span>
          <span class="p-r-9 color-grey divider grey"> | </span>
          <span class="invoice-location-name">Shell USA</span>
          <div class="invoice-billto">
            <div class="row">
              <div class="col-4  text-right">
                <label> <span class="p-r-9 color-grey"> | </span> Bill To: </label>
              </div>

              <div class="col-8 p-l-0" >
                <mat-form-field>
                  <select matNativeControl>
                    <option value="option1">Alexander James</option>
                    <option value="option2"> James Alexander</option>
                  </select>
                </mat-form-field>
              </div>
            </div>

          </div>
        </div>
        <div class="invoice-details">
          <div class="invoice-amt">Invoice Amt: 12500 USD  <span>|</span>Invoice Date: 12/06/2019</div>
          <div class="invoice-date dark"> Payment Terms: Conditions based <span>|</span>Due Date: 02/09/2019</div>
        </div>
        <tr>
          <th>S.No</th>
          <th>Delivery No</th>
          <th>Counterparty</th>
          <th>Product</th>
          <th class="mid-col text-right">Amount</th>
          <th class="bg-col">Payment Terms</th>
          <th class="bg-col">AP/AR</th>
          <th class="bg-col text-left">Counterparty Ref</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>BL099887-1</td>
          <td>Shell USA</td>
          <td>RMG 380</td>
          <td class="mid-col text-right">12500 USD</td>
          <td class="bg-col">Condition Based</td>
          <td class="bg-col">AP</td>
          <td class="bg-col text-left">AP</td>
        </tr>
        <tr>
          <td>2</td>
          <td>BL099887-1</td>
          <td>Toyota</td>
          <td>RMG 380</td>
          <td class="mid-col text-right">12500 USD</td>
          <td class="bg-col">Condition Based</td>
          <td class="bg-col">AP</td>
          <td class="bg-col text-left">AP</td>
        </tr>
      </tbody>
    </table>
    <table class="nested">
      <thead class="p-t-0 p-l-0 p-r-0">
        <div class="invoice-location">
            <span class="blue-circle"></span>
            <span class="invoice-delivery-no">PHB10239-1</span>
          <span class="p-r-9 color-grey divider grey"> | </span>
            <span class="invoice-location-name">
          Toyota International </span>
          <div class="invoice-billto">
            <div class="row">
              <div class="col-4 text-right" >
                <label> <span class="p-r-9 color-grey"> | </span> Bill To: </label>
              </div>
              <div class="col-8 p-l-0" >
                <mat-form-field>
                  <select matNativeControl required>
                    <option value="option1">Alexander James</option>
                    <option value="option2"> James Alexander</option>
                  </select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>          
      
        <div class="invoice-details">
            <div class="invoice-amt">Invoice Amt: 12500 USD  <span>|</span>Invoice Date: 12/06/2019</div>
            <div class="invoice-date dark"> Payment Terms: Conditions based <span>|</span>Due Date: 02/09/2019</div>
        </div>
        <tr>
          <th>S.No</th>
          <th>Delivery No</th>
          <th>Counterparty</th>
          <th>Product</th>
          <th class="mid-col text-right">Amount</th>
          <th class="bg-col">Payment Terms</th>
          <th class="bg-col">AP/AR</th>
          <th class="bg-col text-left">Counterparty Ref</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>BL099887-1</td>
          <td>Toyota International</td>
          <td>RMG 380</td>
          <td class="mid-col text-right">12500 USD</td>
          <td class="bg-col">Condition Based</td>
          <td class="bg-col">AP</td>
          <td class="bg-col text-left">AP</td>
        </tr>
        <tr>
          <td>1</td>
          <td>BL099887-1</td>
          <td>Toyota International</td>
          <td>RMG 380</td>
          <td class="mid-col text-right">12500 USD</td>
          <td class="bg-col">Condition Based</td>
          <td class="bg-col">AP</td>
          <td class="bg-col text-left">AP</td>
        </tr>
        <tr>
          <td>1</td>
          <td>BL099887-1</td>
          <td>Toyota International</td>
          <td>RMG 380</td>
          <td class="mid-col text-right">12500 USD</td>
          <td class="bg-col">Condition Based</td>
          <td class="bg-col">AP</td>
          <td class="bg-col text-left">AP</td>
        </tr>
        <tr>
          <td>1</td>
          <td>BL099887-1</td>
          <td>Toyota International</td>
          <td>RMG 380</td>
          <td class="mid-col text-right">12500 USD</td>
          <td class="bg-col">Condition Based</td>
          <td class="bg-col">AP</td>
          <td class="bg-col text-left">AP</td>
        </tr>
      </tbody>

    </table>
    <table class="nested">
        <thead class="p-t-0 p-l-0 p-r-0">
          <div class="invoice-location">
              <span class="blue-circle"></span>
              <span class="invoice-delivery-no">PHB10239-1</span>
            <span class="p-r-9 color-grey divider grey"> | </span>
              <span class="invoice-location-name">
            Toyota International </span>
            <div class="invoice-billto">
              <div class="row">
                <div class="col-4 text-right" >
                  <label> <span class="p-r-9 color-grey"> | </span> Bill To: </label>
                </div>
                <div class="col-8 p-l-0" >
                  <mat-form-field>
                    <select matNativeControl required>
                      <option value="option1">Alexander James</option>
                      <option value="option2"> James Alexander</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>          
        
          <div class="invoice-details">
              <div class="invoice-amt">Invoice Amt: 12500 USD  <span>|</span>Invoice Date: 12/06/2019</div>
              <div class="invoice-date dark"> Payment Terms: Conditions based <span>|</span>Due Date: 02/09/2019</div>
          </div>
          <tr>
            <th>S.No</th>
            <th>Delivery No</th>
            <th>Counterparty</th>
            <th>Product</th>
            <th class="mid-col text-right">Amount</th>
            <th class="bg-col">Payment Terms</th>
            <th class="bg-col">AP/AR</th>
            <th class="bg-col text-left">Counterparty Ref</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>BL099887-1</td>
            <td>Toyota International</td>
            <td>RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="bg-col">Condition Based</td>
            <td class="bg-col">AP</td>
            <td class="bg-col text-left">AP</td>
          </tr>
          <tr>
            <td>1</td>
            <td>BL099887-1</td>
            <td>Toyota International</td>
            <td>RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="bg-col">Condition Based</td>
            <td class="bg-col">AP</td>
            <td class="bg-col text-left">AP</td>
          </tr>
          <tr>
            <td>1</td>
            <td>BL099887-1</td>
            <td>Toyota International</td>
            <td>RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="bg-col">Condition Based</td>
            <td class="bg-col">AP</td>
            <td class="bg-col text-left">AP</td>
          </tr>
          <tr>
            <td>1</td>
            <td>BL099887-1</td>
            <td>Toyota International</td>
            <td>RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="bg-col">Condition Based</td>
            <td class="bg-col">AP</td>
            <td class="bg-col text-left">AP</td>
          </tr>
        </tbody>
  
      </table>
      <table class="nested">
          <thead class="p-t-0 p-l-0 p-r-0">
            <div class="invoice-location">
                <span class="blue-circle"></span>
                <span class="invoice-delivery-no">PHB10239-1</span>
              <span class="p-r-9 color-grey divider grey"> | </span>
                <span class="invoice-location-name">
              Toyota International </span>
              <div class="invoice-billto">
                <div class="row">
                  <div class="col-4 text-right" >
                    <label> <span class="p-r-9 color-grey"> | </span> Bill To: </label>
                  </div>
                  <div class="col-8 p-l-0" >
                    <mat-form-field>
                      <select matNativeControl required>
                        <option value="option1">Alexander James</option>
                        <option value="option2"> James Alexander</option>
                      </select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>          
          
            <div class="invoice-details">
                <div class="invoice-amt">Invoice Amt: 12500 USD  <span>|</span>Invoice Date: 12/06/2019</div>
                <div class="invoice-date dark"> Payment Terms: Conditions based <span>|</span>Due Date: 02/09/2019</div>
            </div>
            <tr>
              <th>S.No</th>
              <th>Delivery No</th>
              <th>Counterparty</th>
              <th>Product</th>
              <th class="mid-col text-right">Amount</th>
              <th class="bg-col">Payment Terms</th>
              <th class="bg-col">AP/AR</th>
              <th class="bg-col text-left">Counterparty Ref</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>BL099887-1</td>
              <td>Toyota International</td>
              <td>RMG 380</td>
              <td class="mid-col text-right">12500 USD</td>
              <td class="bg-col">Condition Based</td>
              <td class="bg-col">AP</td>
              <td class="bg-col text-left">AP</td>
            </tr>
            <tr>
              <td>1</td>
              <td>BL099887-1</td>
              <td>Toyota International</td>
              <td>RMG 380</td>
              <td class="mid-col text-right">12500 USD</td>
              <td class="bg-col">Condition Based</td>
              <td class="bg-col">AP</td>
              <td class="bg-col text-left">AP</td>
            </tr>
            <tr>
              <td>1</td>
              <td>BL099887-1</td>
              <td>Toyota International</td>
              <td>RMG 380</td>
              <td class="mid-col text-right">12500 USD</td>
              <td class="bg-col">Condition Based</td>
              <td class="bg-col">AP</td>
              <td class="bg-col text-left">AP</td>
            </tr>
            <tr>
              <td>1</td>
              <td>BL099887-1</td>
              <td>Toyota International</td>
              <td>RMG 380</td>
              <td class="mid-col text-right">12500 USD</td>
              <td class="bg-col">Condition Based</td>
              <td class="bg-col">AP</td>
              <td class="bg-col text-left">AP</td>
            </tr>
          </tbody>
    
        </table>
  </div>


  <!-- </mat-dialog-content> -->

  <mat-dialog-actions class="float-right"
    style="position:relative;bottom: 0; margin-bottom: 2px;right: 0px;min-height: 0;float:right;padding:0">
    <button tabindex="-1" mat-button [mat-dialog-close]="true" style="width: 100px">CANCEL</button>
    <button class="blue-button" mat-button [mat-dialog-close]="true" mat-focused style="width: 100px">PROCEED</button>
  </mat-dialog-actions>

</div>