<div class="container pt-5">

  <!-- TOP TOGGLE BAR START -->
  <div class="top-tab-wrapper">
    <div class="red-tabs">
      <mat-tab-group>
        <mat-tab label="TORM LILY">
          <vessel-details></vessel-details>
        </mat-tab>
        <mat-tab label="Destination">
          <vessel-destination></vessel-destination>
        </mat-tab>
        <mat-tab label="Schedule">
          <vessel-schedule></vessel-schedule>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <!-- TOP TOGGLE BAR END -->

</div>