<div class="container">

  <!-- Vessel Schedule Start -->
  <div class="vessel-popup-wrapper">
      <div class="vessel-header">
          <table class="table">
            <tbody>
              <tr class="table-header">
                <td rowspan="2">
                  <span class="pr-2">Location:</span>
                  <span class="fs18-fw100">ROTTERDAM</span>
                </td>
                <td>ETA</td>
                <td class="fs12">Latest ETA</td>
                <td>ETB</td>
                <td class="fs12">Latest ETB</td>
                <td>ETD</td>
                <td class="fs12">Latest ETD</td>            
              </tr>
              <tr>
                <td>23/02/2018</td>
                <td class="fs12">23/02/2018</td>
                <td>23/02/2018</td>
                <td class="fs12">23/02/2018</td>
                <td>24/02/2018</td>
                <td class="fs12">25/02/2018</td>
              </tr>
            </tbody>
          </table>
        </div>

    <div class="vessel-popup-content">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-md-5">
            <section id="voyage-schedule">
              <div class="section-title">voyage schedule</div>
              <div class="voyage-schedule-component">
                <div class="grey-box">

                  <!-- Individual Box Start -->
                  <div class="white-box">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="location-name">
                          <i class="fas fa-map-marker-alt"></i>
                          Antwerp</div>
                        <div>Voyage ID: 991</div>
                        <div class="function">Function: LOAD</div>
                      </div>
                      <div class="col-md-7 pt5">
                        <div>
                          <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                        </div>
                        <div>
                          <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                        </div>
                        <div>
                          <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Individual Box End -->

                  <!-- Individual Box Start -->
                  <div class="white-box">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="location-name">
                          <i class="fas fa-map-marker-alt"></i>
                          Antwerp</div>
                        <div>Voyage ID: 991</div>
                        <div class="function">Function: LOAD</div>
                      </div>
                      <div class="col-md-7 pt5">
                        <div>
                          <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                        </div>
                        <div>
                          <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                        </div>
                        <div>
                          <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Individual Box End -->

                  <!-- Individual Box Start -->
                  <div class="white-box">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="location-name">
                          <i class="fas fa-map-marker-alt"></i>
                          Antwerp</div>
                        <div>Voyage ID: 991</div>
                        <div class="function">Function: LOAD</div>
                      </div>
                      <div class="col-md-7 pt5">
                        <div>
                          <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                        </div>
                        <div>
                          <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                        </div>
                        <div>
                          <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Individual Box End -->

                  <!-- Individual Box Start -->
                  <div class="white-box">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="location-name">
                          <i class="fas fa-map-marker-alt"></i>
                          Antwerp</div>
                        <div>Voyage ID: 991</div>
                        <div class="function">Function: LOAD</div>
                      </div>
                      <div class="col-md-7 pt5">
                        <div>
                          <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                        </div>
                        <div>
                          <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                        </div>
                        <div>
                          <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Individual Box End -->

                  <!-- Individual Box Start -->
                  <div class="white-box">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="location-name">
                          <i class="fas fa-map-marker-alt"></i>
                          Antwerp</div>
                        <div>Voyage ID: 991</div>
                        <div class="function">Function: LOAD</div>
                      </div>
                      <div class="col-md-7 pt5">
                        <div>
                          <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                        </div>
                        <div>
                          <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                        </div>
                        <div>
                          <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Individual Box End -->

                  <!-- Individual Box Start -->
                  <div class="white-box">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="location-name">
                          <i class="fas fa-map-marker-alt"></i>
                          Antwerp</div>
                        <div>Voyage ID: 991</div>
                        <div class="function">Function: LOAD</div>
                      </div>
                      <div class="col-md-7 pt5">
                        <div>
                          <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                        </div>
                        <div>
                          <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                        </div>
                        <div>
                          <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Individual Box End -->

                </div>
              </div>
            </section>
          </div>
          <div class="col-md-7">

            <div class="row">
              <section id="user-comments">
                <div class="section-title">comments (2)
                  <i class="fas fa-chevron-down"></i>
                </div>
                <div class="grey-box">

                  <div class="available-comments">

                    <!-- Single Comment Start -->
                    <div class="comments-box">
                      <div class="row">
                        <div class="col-sm-1">
                          <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=M B" alt="MB">
                        </div>
                        <div class="col-sm-11">
                          <div class="row pl5">
                            <div class="name float-left">Martin Brodersen</div>
                            <div class="date float-left">13 June 2018 09:49
                              <i class="fas fa-chevron-down"></i>
                            </div>
                          </div>
                          <div class="row pl5">
                            <div class="comment">
                              FYI, the Port of Rotterdam successfully renews its PERS certificate
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Comment End -->

                    <!-- Single Comment Start -->
                    <div class="comments-box">
                      <div class="row">
                        <div class="col-sm-1">
                          <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=A P" alt="AP">
                        </div>
                        <div class="col-sm-11">
                          <div class="row pl5">
                            <div class="name float-left">Anders Petersen</div>
                            <div class="date float-left">13 June 2018 09:50
                              <i class="fas fa-chevron-down"></i>
                            </div>
                          </div>
                          <div class="row pl5">
                            <div class="comment">
                              PERS comprises a set of guidelines to (self-)assess the individual performance of ports in the area of environmental management.
                            </div>
                          </div>
                          <div class="row pl5 pt10">
                            <div class="attachment">
                              <div class="attachment-icon float-left">
                                <img src="../../../assets/images/attachment.svg" alt="Attachment">
                              </div>
                              <div class="attachment-text float-left pl10 pt5">
                                <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Comment End -->

                    <!-- Single Comment Start -->
                    <div class="comments-box">
                      <div class="row">
                        <div class="col-sm-1">
                          <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=A P" alt="AP">
                        </div>
                        <div class="col-sm-11">
                          <div class="row pl5">
                            <div class="name float-left">Anders Petersen</div>
                            <div class="date float-left">13 June 2018 09:50
                              <i class="fas fa-chevron-down"></i>
                            </div>
                          </div>
                          <div class="row pl5">
                            <div class="comment">
                              PERS comprises a set of guidelines to (self-)assess the individual performance of ports in the area of environmental management.
                            </div>
                          </div>
                          <div class="row pl5 pt10">
                            <div class="attachment">
                              <div class="attachment-icon float-left">
                                <img src="../../../assets/images/attachment.svg" alt="Attachment">
                              </div>
                              <div class="attachment-text float-left pl10 pt5">
                                <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Comment End -->

                    <!-- Single Comment Start -->
                    <div class="comments-box">
                      <div class="row">
                        <div class="col-sm-1">
                          <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=A P" alt="AP">
                        </div>
                        <div class="col-sm-11">
                          <div class="row pl5">
                            <div class="name float-left">Anders Petersen</div>
                            <div class="date float-left">13 June 2018 09:50
                              <i class="fas fa-chevron-down"></i>
                            </div>
                          </div>
                          <div class="row pl5">
                            <div class="comment">
                              PERS comprises a set of guidelines to (self-)assess the individual performance of ports in the area of environmental management.
                            </div>
                          </div>
                          <div class="row pl5 pt10">
                            <div class="attachment">
                              <div class="attachment-icon float-left">
                                <img src="../../../assets/images/attachment.svg" alt="Attachment">
                              </div>
                              <div class="attachment-text float-left pl10 pt5">
                                <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Comment End -->

                  </div>


                  <div class="new-comment-section">
                    <div class="row">
                      <div class="col-md-10 p-0">
                        <div class="new-comment">
                          <mat-form-field>
                            <!-- <input matInput type="text" placeholder="Your comments here"> -->
                            <textarea class="comment-field" matInput placeholder="Your comments here"></textarea>
                            <button mat-button matSuffix mat-icon-button aria-label="Your comments here" (click)="value=''">
                              <mat-icon>attach_file</mat-icon>
                            </button>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button mat-flat-button class="post-btn">post</button>
                      </div>
                    </div>
                  </div>


                </div>
              </section>
            </div>

            <!-- <div class="row pt10">
              <div class="col-md-12 p-0">
                  <section id="links">
                      <div class="section-title">links</div>
                      <div class="grey-box">
                        <div class="white-box">
                          <ul>
                            <li>
                              <a href="#" target="_blank" rel="noopener">Review Requests</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </section>
              </div>              
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container pb-3">
      <button class="round-border white center" mat-stroked-button>
        <i class="fas fa-arrows-alt-v"></i>
        Minimise Options
      </button>
    </div> -->
  </div>

  <!-- Vessel Schedule End -->

</div>
