<div class="container" style="padding-top: 7rem;">

  <!-- Start Popup -->
  <div class="vessel-collapsed-wrapper">
    <div class="card">
      <div class="card-body">

        <div class="red-header">
          <div class="card-header">
            <div class="card-title">TORM LILY</div>
            <div class="card-subtitle">
              <strong>ETA: </strong>2017-11-26 10:00 LT (UTC +8)</div>
          </div>
        </div>

        <div class="card-content">
          <table class="table table-striped">
            <thead>
              <tr>
                <td>Destination</td>
                <td>Voyage Status</td>
                <td>Vessel Type</td>
                <td class="text-center">HSFO</td>
                <td class="text-center">ULSFO</td>
                <td class="text-center">DOGO</td>
                <td>Enquiry Status</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rotterdam</td>
                <td>LADEN</td>
                <td>LR1</td>
                <td class="text-center">
                  <span class="red-threshold-box">290 MT</span>
                </td>
                <td class="text-center">400 MT</td>
                <td class="text-center">250 MT</td>
                <td>Confirmed</td>
              </tr>              
            </tbody>
          </table>
        </div>

        <div class="card-footer text-center">
          <div class="h2rem">
            <!-- <button class="round-border white" mat-stroked-button>
              <i class="fas fa-arrows-alt-v"></i>
              Show More</button> -->
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- End Popup -->
</div>
