<mat-tab-group class="tab-bar-blue">
  <mat-tab label="SCHEDULING">
    <app-rack-scheduling style="height: 100%;width: 100%"></app-rack-scheduling>
  </mat-tab>
  <mat-tab label="MATCHED LIST">
    <app-rack-matched-list style="height: 100%; width:100%"></app-rack-matched-list>
  </mat-tab>
</mat-tab-group>
<!-- <div class="rack-refresh" matTooltip="Refresh Data" matTooltipShowDelay="500">
  <button mat-raised-button class="blue-button">    
    <img id="refresh-icon" src="../../../assets/customicons/refresh_w.svg" alt="refresh">
  </button>
</div> -->