<!-- <mat-dialog-content> -->
  <div class="dialog-table-popup">
    <div class="dialog-icon warning-icon-orange"></div>
  <h2 mat-dialog-title class="dialog-title">
    Attention
    <mat-icon matSuffix class="dialogCloseButton float-right">close</mat-icon>
  </h2>
  <hr>
 

  <div class="dialog-table-title">
    <!-- <span class="circle yellow"></span> -->
    <span class="text" style="margin-left: 0;">The following errors prevent save/verify the following Movements.</span>
   </div>
 <div class="dialog-table-block">
   <table>
     <thead>
         <tr>
             <th>Movement ID</th>
             <th>Delivery ID</th>
             <th>Message</th>
             
         </tr>
       </thead>
     <tbody>
       
       <tr>
         <td>MOV17234</td>
         <td><a href="#" class="text-link">PHB10283-1</a></td>
         <td>Book access validation</td>
         
       </tr>
       <tr>
        <td>MOV17234</td>
        <td><a href="#" class="text-link">PHB10283-1</a></td>
        <td>Movement Date must be grater than last Book closure Date</td>
        
      </tr>
      <tr>
        <td>MOV17234</td>
        <td><a href="#" class="text-link">PHB10283-1</a></td>
        <td>movement Date must be ‘On’ or ‘After’ Trade Date.</td>
        
      </tr>
      
 
       
     </tbody>
   </table>
   </div>
  