<div class="spot-popup-header-container">
    <div class="spot-nego-title">Counterparty Request changes</div>
    <div class="spot-dialog-title-right">
      <button class="cancel-btn w-104" mat-button [mat-dialog-close]="true">Cancel</button>
      <button class="proceed-btn w-104" mat-button [mat-dialog-close]="true">Save</button>
      <div class="title-divider">|</div>
      <span class="close" style="cursor:pointer;" [mat-dialog-close]="true"></span>
      <!-- <div class="close-circle">
        <mat-icon id="dialogCloseButton" matSuffix class="" (click)="closeDialog() "
          style="font-size: 14px; display: inline; position:relative; top:-1px; ">close</mat-icon>
      </div> -->
    </div>
  
  </div>
  <hr class="hr-line mb-0" style="height: 0.1px;">
    
    <div id="custom-tabs-v2" class="shiptech-inverted-tab" [@.disabled]="true">
          <ng-container>
            <div class="custom-tab-container pricing-details-tab-container">
    
              <div class="row d-flex col-md-12 pd-0">
                <div class="col-md-12 pd-0">
                  <div class="pricing-type-container" style="margin-top: 0px;padding:8px;"> 
                    <div class="col-md-12 pricing-container">
    
                      <div class="row" style="height: 87px; align-items: center;">
    
                        <div class="col-md-12 d-flex" style=" flex-wrap: wrap;align-items: center;">
                          <div class="custom-form-field" style="margin: 0 20px 0px 0px"
                            [ngClass]="{'darkTheme':switchTheme,'lightTheme':!switchTheme}">
                            <div class="d-flex">
                              <mat-form-field class="with-search" appearance="legacy" style="border-right: none !important;">
                                <mat-label>Quoted Product</mat-label>
                                <input class="free-text-field" type="text" matInput required placeholder="Quoted Product">
                              </mat-form-field>
                              <button class="search-icon">
                                <div class="img">
                                </div>
                              </button>
                            </div>
                          </div>
    
                          <div class="custom-form-field"
                            [ngClass]="{'darkTheme':switchTheme,'lightTheme':!switchTheme}">
                            <mat-form-field class="without-search" appearance="legacy" style="border-radius: 4px;">
                              <mat-label>Supply Qty</mat-label>
                              <mat-select placeholder="Supply Qty">
                                <mat-option>
                                  Discount
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          
                          <div class="custom-form-field lightTheme supply-date m-l-0" >
                              <mat-form-field class="without-search" appearance="legacy" style="border-radius: 4px; margin: 0 20px 0px 20px">
                                  <mat-label>Supply Date</mat-label>
                                  <input name="Supply date" 
                                  matInput [matDatepicker]="invoiceDate" (focus)="invoiceDate.open()" autocomplete="off" placeholder="Invoice Date">
                                  <mat-datepicker-toggle matSuffix [for]="invoiceDate">
                                      <mat-icon matDatepickerToggleIcon class="mini-dateIcon">
                                      </mat-icon>
                                  </mat-datepicker-toggle>
                                  <mat-datepicker #invoiceDate></mat-datepicker>
                              </mat-form-field>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
    </div>