<div class="container pt-5">


  <!-- #region BadgeComponent -->
  <div class="badge lightblue-badge" matTooltip="Purchase QTY: 50,123456789" [matTooltipShowDelay]="500">

    <div class="badge-title text-left">
      <div class="truncate-90">Purchase QTY</div>
    </div>

    <div class="text-left">

      <span class="badge-value">
        <div class="truncate-80 float-left">50,123456789</div>
      </span>

      <span class="badge-unit">bbl</span>
    </div>
  </div>
  <!-- #endregion BadgeComponent -->


  <div class="badge yellow-badge" matTooltip="Purchase Amount: 50,123456789" [matTooltipShowDelay]="500">

      <div class="badge-title text-left">
        <div class="truncate-90">Purchase Amount</div>
      </div>
  
      <div class="text-left">
  
        <span class="badge-value">
          <div class="truncate-80 float-left">50,123456789</div>
        </span>
  
        <span class="badge-unit">usd</span>
      </div>
    </div>


</div>