<mat-tab-group class="tab-bar-blue rack-pricing" (selectedTabChange)="selectTab($event)">
  <!--<mat-tab label="SET PRICE">
    <app-set-price></app-set-price>
  </mat-tab>-->
  <mat-tab label="PRICE LIST">
    <app-price-list (createNewEvent)="addTab()"></app-price-list>
  </mat-tab>
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab" class="new-tab">
      <ng-template mat-tab-label>
          {{tab}} <span class="close-icon" (click)="removeTab(index)"><i class="fas fa-times close-img"></i></span>
      </ng-template>
      <app-set-price></app-set-price>
  </mat-tab>
</mat-tab-group>
<div class="create-new" matTooltip="Create New" matTooltipShowDelay="500">
  <button mat-raised-button class="light-blue-button" (click)="addTab()">    
    <img id="plus-icon" style="top: -2px;position: relative;" src="../../../assets/customicons/plus_w.svg" alt="plus">
    <span style="top: -1px;position: relative;">Create New</span>
  </button>
</div>

