
  
  
  
  <!-- <div class="container-fluid p-0" [ngClass]="{'aggrid-dd-low':isdisplaydensityhigh==false}">
    <span class="aggrid-whitebox"></span>
    <ag-grid-angular id="tradelistgrid" style="width: 100%;"
      [ngStyle]="isCollapsed?{'height': 'calc( 100vh - 75px )'} : {'height': 'calc( 100vh - 167px'}"
      [gridOptions]="gridOptions"
      (gridReady)="OnGridReady($event)"
      [ngClass]="{'aggrid-onpinned-left':isPinnedLeft, 'aggrid-onpinned-right':isPinnedRight,'collapsed':isCollapsed}"
      class="ag-theme-material aggrid-pinned-shadow angular-v9"></ag-grid-angular>
  </div> -->
  
  
  
  