<div class="dark-wrapper">

  <div class="info-bar">
    <table class="table table-noborder table-responsive tbl-shadow">
      <tbody>
        <tr>
          <td class="vessel-name" colspan="3" matTooltip="Balboa" [matTooltipShowDelay]="500" width="150px">
            <div class="truncate-150 pl15 red-text">Balboa</div>
          </td>
          <td class="dark-text">ETA</td>
          <td class="text-white">13/09/2018</td>
          <td class="dark-text fs10 w70 text-right">Latest ETA</td>
          <td class="br-dark fs10 text-white">13/09/2018</td>
          <td class="dark-text">ETB</td>
          <td class="text-white">13/09/2018</td>
          <td class="dark-text fs10 w70 text-right">Latest ETB</td>
          <td class="br-dark fs10 text-white">13/09/2018</td>
          <td class="dark-text">ETD</td>
          <td class="text-white">18/09/2018</td>
          <td class="dark-text fs10 w70 text-right">Latest ETD</td>
          <td class="fs10 text-white">18/09/2018</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Popup Body Content -->
  <div class="popup-body">

    <div class="row">
      <div class="col-12">
        <section id="vesselAlerts">
          <div class="dark-card">
            <div class="dark-card-title" style="padding-bottom: 0.3em;">Vessel Alerts</div>
            <div class="dark-card-body">

              <div class="alerts-container">

                <!-- Single Alert Start -->
                <div class="alert-notif red">
                  <div class="alert-title">
                    <div class="d-flex align-items-center">
                      <img class="icon" src="../../../assets/customicons/red-warning-o.svg" alt="warning-icon">
                    <div>Market Prices Hike Alert</div>
                  </div>
                  <div class="alert-date">June 14 2019</div>
                  </div>
                  <div class="alert-body">
                    <div style="padding-right: 3rem;">
                      At location Amsterdam, the Market prices has increased by more than $10 in the last 1 month.
                    </div>
                    <div class="time">10:23:50</div>
                  </div>
                </div>
                <!-- Single Alert End -->

                <!-- Single Alert Start -->
                <div class="alert-notif amber">
                  <div class="alert-title">
                    <div class="d-flex align-items-center">
                      <img class="icon" src="../../../assets/customicons/amber-warning-o.svg" alt="warning-icon">
                    <div>Contract Alert</div>
                  </div>
                  <!-- <div class="alert-date">June 13 2019</div> -->
                  </div>
                  <div class="alert-body">
                    <div style="padding-right: 3rem;">
                      At location Amsterdam, the Market prices has increased by more than $10 in the last 1 month.
                    </div>
                    <div class="time">10:23:50</div>
                  </div>
                </div>
                <!-- Single Alert End -->

                <!-- Single Alert Start -->
                <div class="alert-notif red">
                  <div class="alert-title">
                    <div class="d-flex align-items-center">
                      <img class="icon" src="../../../assets/customicons/red-warning-o.svg" alt="warning-icon">
                    <div>Lab Results Alert</div>
                  </div>
                  <div class="alert-date">June 13 2019</div>
                  </div>
                  <div class="alert-body">
                    <div style="padding-right: 3rem;">
                      At location Amsterdam, the Market prices has increased by more than $10 in the last 1 month.
                    </div>
                    <div class="time">10:23:50</div>
                  </div>
                </div>
                <!-- Single Alert End -->
                 <!-- Single Alert Start -->
                 <div class="alert-notif green">
                    <div class="alert-title">
                      <div class="d-flex align-items-center">
                        <img class="icon" src="../../../assets/customicons/green-warning-o.svg" alt="warning-icon">
                      <div>Lab Results Alert</div>
                    </div>
                    <div class="alert-date">June 13 2019</div>
                    </div>
                    <div class="alert-body">
                      <div style="padding-right: 3rem;">
                        At location Amsterdam, the Market prices has increased by more than $10 in the last 1 month.
                      </div>
                      <div class="time">10:23:50</div>
                    </div>
                  </div>
                  <!-- Single Alert End -->

              </div>
    
             
    
    
            </div>
          </div>
        </section>
      </div>
    
      
    </div>

  </div>

</div>