<div class="dark-wrapper">

  <div class="info-bar">
    <table class="table table-noborder table-responsive tbl-shadow">
      <tbody>
        <tr>
          <td class="vessel-name" colspan="3" matTooltip="Balboa" [matTooltipShowDelay]="500" width="150px">
            <div class="truncate-150 pl15">Balboa</div>
          </td>
          <td class="dark-text">ETA</td>
          <td class="white-text">13/09/2018</td>
          <td class="dark-text fs10 w70 text-right">Latest ETA</td>
          <td class="br-dark white-text fs10">13/09/2018</td>
          <td class="dark-text">ETB</td>
          <td class="white-text">13/09/2018</td>
          <td class="dark-text fs10 w70 text-right">Latest ETB</td>
          <td class="br-dark white-text fs10">13/09/2018</td>
          <td class="dark-text">ETD</td>
          <td class="white-text">18/09/2018</td>
          <td class="dark-text fs10 w70 text-right">Latest ETD</td>
          <td class="fs10 white-text">18/09/2018</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Popup Body Content -->
  <div class="popup-body">

    <div class="row">
      <div class="col-5 pr-0">
        <section id="voyageSched">
          <div class="dark-card">
            <div class="dark-card-title">Voyage Schedule</div>
            <div class="dark-card-body">

              <!-- Single Schedule Start -->
              <div class="schedule-box">
                <div class="dark-box">
                  <div class="row">
                    <div class="section1 select-red">
                      <i class="fas fa-circle"></i>
                    </div>
                    <div class="section2">
                      <div class="location-name" matTooltip="Antwerp" matTooltipShowDelay="500" matTooltipPosition="after">
                        <div class="truncate-f150">Antwerp</div>
                      </div>
                      <div class="truncate-150" matTooltip="991" matTooltipShowDelay="500" matTooltipPosition="after">
                        Voyage ID: <span class="fw400">991</span>
                      </div>
                      <div class="truncate-150 function" matTooltip="LOAD" matTooltipShowDelay="500" matTooltipPosition="after">
                        Function: <span class="fw400">LOAD</span>
                      </div>
                      <div class="bunker-strategy">Bunker Strategy</div>
                    </div>
                    <div class="section3">
                      <div>
                        <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                      </div>
                      <div>
                        <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                      </div>
                      <div>
                        <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- Single Schedule End -->
              <!-- Single Schedule Start -->
              <div class="schedule-box">
                <div class="dark-box">
                  <div class="row">
                    <div class="section1">
                      <i class="fas fa-circle"></i>
                    </div>
                    <div class="section2">
                      <div class="location-name" matTooltip="Cartagena" matTooltipShowDelay="500" matTooltipPosition="after">
                        <div class="truncate-f150">Cartagena</div>
                      </div>
                      <div class="truncate-150" matTooltip="991" matTooltipShowDelay="500" matTooltipPosition="after">
                        Voyage ID: <span class="fw400">991</span>
                      </div>
                      <div class="truncate-150 function" matTooltip="LOAD" matTooltipShowDelay="500" matTooltipPosition="after">
                        Function: <span class="fw400">LOAD</span>
                      </div>
                    </div>
                    <div class="section3">
                      <div>
                        <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                      </div>
                      <div>
                        <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                      </div>
                      <div>
                        <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Schedule End -->
              <!-- Single Schedule Start -->
              <div class="schedule-box">
                <div class="dark-box">
                  <div class="row">
                    <div class="section1">
                      <i class="fas fa-circle"></i>
                    </div>
                    <div class="section2">
                      <div class="location-name" matTooltip="Santos" matTooltipShowDelay="500" matTooltipPosition="after">
                        <div class="truncate-f150">Santos</div>
                      </div>
                      <div class="truncate-150" matTooltip="991" matTooltipShowDelay="500" matTooltipPosition="after">
                        Voyage ID: <span class="fw400">991</span>
                      </div>
                      <div class="truncate-150 function" matTooltip="LOAD" matTooltipShowDelay="500" matTooltipPosition="after">
                        Function: <span class="fw400">LOAD</span>
                      </div>
                      <div class="bunker-strategy">Bunker Strategy</div>
                    </div>
                    <div class="section3">
                      <div>
                        <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                      </div>
                      <div>
                        <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                      </div>
                      <div>
                        <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Schedule End -->
              <!-- Single Schedule Start -->
              <div class="schedule-box">
                <div class="dark-box">
                  <div class="row">
                    <div class="section1">
                      <i class="fas fa-circle"></i>
                    </div>
                    <div class="section2">
                      <div class="location-name" matTooltip="Antwerp" matTooltipShowDelay="500" matTooltipPosition="after">
                        <div class="truncate-f150">Antwerp</div>
                      </div>
                      <div class="truncate-150" matTooltip="991" matTooltipShowDelay="500" matTooltipPosition="after">
                        Voyage ID: <span class="fw400">991</span>
                      </div>
                      <div class="truncate-150 function" matTooltip="LOAD" matTooltipShowDelay="500" matTooltipPosition="after">
                        Function: <span class="fw400">LOAD</span>
                      </div>
                    </div>
                    <div class="section3">
                      <div>
                        <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                      </div>
                      <div>
                        <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                      </div>
                      <div>
                        <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Schedule End -->
              <!-- Single Schedule Start -->
              <div class="schedule-box">
                <div class="dark-box">
                  <div class="row">
                    <div class="section1">
                      <i class="fas fa-circle"></i>
                    </div>
                    <div class="section2">
                      <div class="location-name" matTooltip="Antwerp" matTooltipShowDelay="500" matTooltipPosition="after">
                        <div class="truncate-f150">Antwerp</div>
                      </div>
                      <div class="truncate-150" matTooltip="991" matTooltipShowDelay="500" matTooltipPosition="after">
                        Voyage ID: <span class="fw400">991</span>
                      </div>
                      <div class="truncate-150 function" matTooltip="LOAD" matTooltipShowDelay="500" matTooltipPosition="after">
                        Function: <span class="fw400">LOAD</span>
                      </div>
                      <div class="bunker-strategy">Bunker Strategy</div>
                    </div>
                    <div class="section3">
                      <div>
                        <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                      </div>
                      <div>
                        <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                      </div>
                      <div>
                        <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Schedule End -->
              <!-- Single Schedule Start -->
              <div class="schedule-box">
                <div class="dark-box">
                  <div class="row">
                    <div class="section1">
                      <i class="fas fa-circle"></i>
                    </div>
                    <div class="section2">
                      <div class="location-name" matTooltip="Antwerp" matTooltipShowDelay="500" matTooltipPosition="after">
                        <div class="truncate-f150">Antwerp</div>
                      </div>
                      <div class="truncate-150" matTooltip="991" matTooltipShowDelay="500" matTooltipPosition="after">
                        Voyage ID: <span class="fw400">991</span>
                      </div>
                      <div class="truncate-150 function" matTooltip="LOAD" matTooltipShowDelay="500" matTooltipPosition="after">
                        Function: <span class="fw400">LOAD</span>
                      </div>
                    </div>
                    <div class="section3">
                      <div>
                        <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                      </div>
                      <div>
                        <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                      </div>
                      <div>
                        <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Schedule End -->
              <!-- Single Schedule Start -->
              <div class="schedule-box">
                <div class="dark-box">
                  <div class="row">
                    <div class="section1">
                      <i class="fas fa-circle"></i>
                    </div>
                    <div class="section2">
                      <div class="location-name" matTooltip="Antwerp" matTooltipShowDelay="500" matTooltipPosition="after">
                        <div class="truncate-f150">Antwerp</div>
                      </div>
                      <div class="truncate-150" matTooltip="991" matTooltipShowDelay="500" matTooltipPosition="after">
                        Voyage ID: <span class="fw400">991</span>
                      </div>
                      <div class="truncate-150 function" matTooltip="LOAD" matTooltipShowDelay="500" matTooltipPosition="after">
                        Function: <span class="fw400">LOAD</span>
                      </div>
                      <div class="bunker-strategy">Bunker Strategy</div>
                    </div>
                    <div class="section3">
                      <div>
                        <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                      </div>
                      <div>
                        <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                      </div>
                      <div>
                        <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Schedule End -->
              <!-- Single Schedule Start -->
              <div class="schedule-box">
                <div class="dark-box">
                  <div class="row">
                    <div class="section1">
                      <i class="fas fa-circle"></i>
                    </div>
                    <div class="section2">
                      <div class="location-name" matTooltip="Antwerp" matTooltipShowDelay="500" matTooltipPosition="after">
                        <div class="truncate-f150">Antwerp</div>
                      </div>
                      <div class="truncate-150" matTooltip="991" matTooltipShowDelay="500" matTooltipPosition="after">
                        Voyage ID: <span class="fw400">991</span>
                      </div>
                      <div class="truncate-150 function" matTooltip="LOAD" matTooltipShowDelay="500" matTooltipPosition="after">
                        Function: <span class="fw400">LOAD</span>
                      </div>
                    </div>
                    <div class="section3">
                      <div>
                        <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                      </div>
                      <div>
                        <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                      </div>
                      <div>
                        <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Schedule End -->
              <!-- Single Schedule Start -->
              <div class="schedule-box">
                <div class="dark-box">
                  <div class="row">
                    <div class="section1">
                      <i class="fas fa-circle"></i>
                    </div>
                    <div class="section2">
                      <div class="location-name" matTooltip="Antwerp" matTooltipShowDelay="500" matTooltipPosition="after">
                        <div class="truncate-f150">Antwerp</div>
                      </div>
                      <div class="truncate-150" matTooltip="991" matTooltipShowDelay="500" matTooltipPosition="after">
                        Voyage ID: <span class="fw400">991</span>
                      </div>
                      <div class="truncate-150 function" matTooltip="LOAD" matTooltipShowDelay="500" matTooltipPosition="after">
                        Function: <span class="fw400">LOAD</span>
                      </div>
                      <div class="bunker-strategy">Bunker Strategy</div>
                    </div>
                    <div class="section3">
                      <div>
                        <span class="estimate">ETA: </span> 19/Apr/2017, 09:00
                      </div>
                      <div>
                        <span class="estimate">ETB: </span> 19/Apr/2017, 11:00
                      </div>
                      <div>
                        <span class="estimate">ETD: </span> 19/Apr/2017, 07:00
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Schedule End -->
             

            </div>
          </div>
        </section>
      </div>

      <!-- Second Column -->
      <div class="col-7">

        <section id="comments">
          <div class="dark-card">
            <div class="dark-card-title">Comments (4)</div>
            <!-- comments -->

            <div class="comments-section">

              <!-- Single Comment Start -->
              <div class="dark-comment">
                <div class="row">
                  <div class="col-1">
                    <div class="comment-user">AS</div>
                  </div>
                  <div class="col-11">
                    <div class="row pl5">
                      <div class="name float-left" matTooltip="Adam Smith" matTooltipShowDelay="700">
                        <div class="truncate-180">Adam Smith</div>
                      </div>
                      <div class="date ml-auto">13 June 2018 09:49
                        <i class="fas fa-chevron-down"></i>
                      </div>
                    </div>
                    <div class="row pl5">
                      <div class="comment">
                        Peninsula advises tight availability for Gasoil
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Comment End -->

              <!-- Single Comment Start -->
              <div class="dark-comment">
                <div class="row">
                  <div class="col-1">
                    <div class="comment-user">JL</div>
                  </div>
                  <div class="col-11">
                    <div class="row pl5">
                      <div class="name float-left" matTooltip="John Lewis" matTooltipShowDelay="700">
                        <div class="truncate-150">John Lewis</div>
                      </div>
                      <div class="date ml-auto">08 July 2018 17:49
                        <i class="fas fa-chevron-down"></i>
                      </div>
                    </div>
                    <div class="row pl5">
                      <div class="comment">
                        Operator advises air draught restrictions
                      </div>
                    </div>
                    <div class="row pl5 pt10">
                      <div class="attachment">
                        <div class="attachment-icon float-left">
                          <img src="../../../assets/images/attachment.svg" alt="Attachment">
                        </div>
                        <div class="attachment-text float-left pl10 pt5">
                          <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Comment End -->

              <!-- Single Comment Start -->
              <div class="dark-comment">
                <div class="row">
                  <div class="col-1">
                    <div class="comment-user">KM</div>
                  </div>
                  <div class="col-11">
                    <div class="row pl5">
                      <div class="name float-left" matTooltip="Kevin Miranda" matTooltipShowDelay="700">
                        <div class="truncate-150">Kevin M</div>
                      </div>
                      <div class="date ml-auto">26 August 2018 20:40
                        <i class="fas fa-chevron-down"></i>
                      </div>
                    </div>
                    <div class="row pl5">
                      <div class="comment">
                        PERS comprises a set of guidelines to (self-)assess the individual performance of ports in
                        the
                        area of environmental management.
                      </div>
                    </div>
                    <div class="row pl5 pt10">
                      <div class="attachment">
                        <div class="attachment-icon float-left">
                          <img src="../../../assets/images/attachment.svg" alt="Attachment">
                        </div>
                        <div class="attachment-text float-left pl10 pt5">
                          <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Comment End -->

              <!-- Single Comment Start -->
              <div class="dark-comment">
                <div class="row">
                  <div class="col-1">
                    <div class="comment-user">JD</div>
                  </div>
                  <div class="col-11">
                    <div class="row pl5">
                      <div class="name float-left" matTooltip="John Doe" matTooltipShowDelay="700">
                        <div class="truncate-150">John Doe</div>
                      </div>
                      <div class="date ml-auto">13 June 2018 09:50
                        <i class="fas fa-chevron-down"></i>
                      </div>
                    </div>
                    <div class="row pl5">
                      <div class="comment">
                        PERS comprises a set of guidelines to (self-)assess the individual performance of ports in
                        the
                        area of environmental management.
                      </div>
                    </div>
                    <div class="row pl5 pt10">
                      <div class="attachment">
                        <div class="attachment-icon float-left">
                          <img src="../../../assets/images/attachment.svg" alt="Attachment">
                        </div>
                        <div class="attachment-text float-left pl10 pt5">
                          <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Single Comment End -->

            </div>



            <div class="new-comment-section">
              <div class="row">
                <div class="col-md-10 p-0">
                  <div class="new-comment">
                    <mat-form-field>
                      <!-- <input matInput type="text" placeholder="Your comments here"> -->
                      <textarea class="new-comment-field" matInput placeholder="Your comments here"></textarea>
                      <button mat-button matSuffix mat-icon-button aria-label="Your comments here">
                        <mat-icon>attach_file</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-2">
                  <button mat-flat-button class="post-btn">post</button>
                </div>
              </div>
            </div>


            <!-- comments -->
          </div>
        </section>

      </div>
    </div>

  </div>

</div>
