<div class="container">

  <!-- Vessel Details Start -->
  <div class="vessel-popup-wrapper">

    <div class="vessel-header">
      <table class="table">
        <tbody>
          <tr class="table-header">
            <td rowspan="2">
              <span class="pr-2">Location:</span>
              <span class="fs18-fw100">ROTTERDAM</span>
            </td>
            <td>ETA</td>
            <td class="fs12">Latest ETA</td>
            <td>ETB</td>
            <td class="fs12">Latest ETB</td>
            <td>ETD</td>
            <td class="fs12">Latest ETD</td>            
          </tr>
          <tr>
            <td>23/02/2018</td>
            <td class="fs12">23/02/2018</td>
            <td>23/02/2018</td>
            <td class="fs12">23/02/2018</td>
            <td>24/02/2018</td>
            <td class="fs12">25/02/2018</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="vessel-popup-content">
      <div class="container-fluid p-0">
        <div class="row text-left">

          <div class="col-md-6">
            <div class="section-title">Current ROB</div>
            <div class="section-badge">
              <table class="table table-even-stripe lh-25">
                <tbody>
                  <tr>
                    <td class="fs18 fw300">HSFO</td>
                    <td class="text-center">
                      <span class="red-threshold-box">300 MT</span>
                    </td>
                    <td>SMTG Days &nbsp;&nbsp;&nbsp; 7.5</td>

                  </tr>
                  <tr>
                    <td class="fs18 fw300">ULSFO</td>
                    <td class="text-center">400 MT</td>
                    <td>SMTG Days &nbsp;&nbsp;&nbsp; 7.5</td>

                  </tr>
                  <tr>
                    <td class="fs18 fw300">DOGO</td>
                    <td class="text-center">250 MT</td>
                    <td>SMTG Days &nbsp;&nbsp;&nbsp; 7.5</td>

                  </tr>
                  <tr>
                    <td colspan="4">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-6">
            <div class="section-title">Estimated ROB</div>
            <div class="section-badge">
              <table class="table table-even-stripe lh-25">
                <tbody>
                  <tr>
                    <td class="fs18 fw300">HSFO</td>
                    <td class="text-center">300 MT</td>
                    <td>SMTG Days &nbsp;&nbsp;&nbsp; 7.5</td>
                  </tr>
                  <tr>
                    <td class="fs18 fw300">ULSFO</td>
                    <td class="text-center">400 MT</td>
                    <td>SMTG Days &nbsp;&nbsp;&nbsp; 7.5</td>
                  </tr>
                  <tr>
                    <td class="fs18 fw300">DOGO</td>
                    <td class="text-center">250 MT</td>
                    <td>SMTG Days &nbsp;&nbsp;&nbsp; 7.5</td>
                  </tr>
                  <tr>
                    <td colspan="4">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="row text-left">
          <div class="col-md-5">
            <section id="current-state">
              <div class="row">
                <div class="col-md-12 p-0">
                  <div class="section-title">current state</div>
                  <div class="section-badge">
                    <table class="table table-even-stripe lh-17">
                      <tbody>
                        <tr>
                          <td>Voyage Status</td>
                          <td>LADEN</td>
                        </tr>
                        <tr>
                          <td>Vessel Type</td>
                          <td>LR1</td>
                        </tr>
                        <tr>
                          <td>Speed (KNOTS)</td>
                          <td>12.5</td>
                        </tr>
                        <tr>
                          <td>24 H Consp (MT)</td>
                          <td>40</td>
                        </tr>
                        <tr>
                          <td>Last Bunker Date</td>
                          <td>2017-11-26 - NL AMS</td>
                        </tr>
                        <tr>
                          <td>Position LAG-LOG</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </section>

            <section id="request-status">
              <div class="row">
                <div class="col-md-12 p-0">
                  <div class="section-title">Request status</div>
                  <div class="grey-box">
                    <div class="white-box">
                      <div class="container">
                        <div class="blank-request-status">
                          <div class="black-circle float-left"></div>
                          <div class="float-left pl-1">No Request</div>
                          </div>
                        <!-- <a href="#" target="_blank" rel="noopener" class="active-request-status">Request Created</a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="col-md-7">
            <section id="user-comments">
              <div class="section-title">comments (2)
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="grey-box">

                <div class="available-comments">

                  <!-- Single Comment Start -->
                  <div class="comments-box">
                    <div class="row">
                      <div class="col-sm-1">
                        <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=M B" alt="MB">
                      </div>
                      <div class="col-sm-11">
                        <div class="row pl5">
                          <div class="name float-left">Martin Brodersen</div>
                          <div class="date float-left">13 June 2018 09:49
                            <i class="fas fa-chevron-down"></i>
                          </div>
                        </div>
                        <div class="row pl5">
                          <div class="comment">
                            FYI, the Port of Rotterdam successfully renews its PERS certificate
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Comment End -->

                  <!-- Single Comment Start -->
                  <div class="comments-box">
                    <div class="row">
                      <div class="col-sm-1">
                        <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=A P" alt="AP">
                      </div>
                      <div class="col-sm-11">
                        <div class="row pl5">
                          <div class="name float-left">Anders Petersen</div>
                          <div class="date float-left">13 June 2018 09:50
                            <i class="fas fa-chevron-down"></i>
                          </div>
                        </div>
                        <div class="row pl5">
                          <div class="comment">
                            PERS comprises a set of guidelines to (self-)assess the individual performance of ports in the area of environmental management.
                          </div>
                        </div>
                        <div class="row pl5 pt10">
                          <div class="attachment">
                            <div class="attachment-icon float-left">
                              <img src="../../../assets/images/attachment.svg" alt="Attachment">
                            </div>
                            <div class="attachment-text float-left pl10 pt5">
                              <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Comment End -->

                  <!-- Single Comment Start -->
                  <div class="comments-box">
                    <div class="row">
                      <div class="col-sm-1">
                        <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=A P" alt="AP">
                      </div>
                      <div class="col-sm-11">
                        <div class="row pl5">
                          <div class="name float-left">Anders Petersen</div>
                          <div class="date float-left">13 June 2018 09:50
                            <i class="fas fa-chevron-down"></i>
                          </div>
                        </div>
                        <div class="row pl5">
                          <div class="comment">
                            PERS comprises a set of guidelines to (self-)assess the individual performance of ports in the area of environmental management.
                          </div>
                        </div>
                        <div class="row pl5 pt10">
                          <div class="attachment">
                            <div class="attachment-icon float-left">
                              <img src="../../../assets/images/attachment.svg" alt="Attachment">
                            </div>
                            <div class="attachment-text float-left pl10 pt5">
                              <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Comment End -->

                  <!-- Single Comment Start -->
                  <div class="comments-box">
                    <div class="row">
                      <div class="col-sm-1">
                        <img class="img-circle" src="http://via.placeholder.com/40/DDECFE/333333?text=A P" alt="AP">
                      </div>
                      <div class="col-sm-11">
                        <div class="row pl5">
                          <div class="name float-left">Anders Petersen</div>
                          <div class="date float-left">13 June 2018 09:50
                            <i class="fas fa-chevron-down"></i>
                          </div>
                        </div>
                        <div class="row pl5">
                          <div class="comment">
                            PERS comprises a set of guidelines to (self-)assess the individual performance of ports in the area of environmental management.
                          </div>
                        </div>
                        <div class="row pl5 pt10">
                          <div class="attachment">
                            <div class="attachment-icon float-left">
                              <img src="../../../assets/images/attachment.svg" alt="Attachment">
                            </div>
                            <div class="attachment-text float-left pl10 pt5">
                              <a href="#" target="_blank" rel="noopener">Screenshot 2018-06-21 at 10:58am</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Comment End -->

                </div>



                <div class="new-comment-section">
                  <div class="row">
                    <div class="col-md-10 p-0">
                      <div class="new-comment">
                        <mat-form-field>
                          <!-- <input matInput type="text" placeholder="Your comments here"> -->
                          <textarea class="comment-field" matInput placeholder="Your comments here"></textarea>
                          <button mat-button matSuffix mat-icon-button aria-label="Your comments here" (click)="value=''">
                            <mat-icon>attach_file</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button mat-flat-button class="post-btn">post</button>
                    </div>
                  </div>
                </div>


              </div>
            </section>

          </div>
        </div>

      </div>
    </div>

    <!-- <div class="container pb-3">
      <button class="round-border white center" mat-stroked-button>
        <i class="fas fa-arrows-alt-v"></i>
        Minimise Options
      </button>
    </div> -->



  </div>

  <!-- Vessel Details End -->


</div>