<div class="container-fluid" style="padding-top: 1rem; margin-left: 5rem;">

  <!-- TOP TOGGLE BAR START -->
  <div class="vessel2-wrapper">
      <div id="popupCloser">
          <img src="../../../assets/customicons/arrow-right.svg" alt="Arrow right">
        </div>
    <div class="tab-wrapper">
      <div class="red-tab">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <img id="" src="../../../assets/customicons/vessel_red.svg" alt="" style="width: 15px; margin-right: 7px;">Agnes
            </ng-template>
            <vessel2-info></vessel2-info>
          </mat-tab>
          <mat-tab label="Destination">
            <vessel2-destination></vessel2-destination>
          </mat-tab>
          <mat-tab label="Schedule">
            <vessel2-schedule></vessel2-schedule>
          </mat-tab>
          <mat-tab label="Alerts">
            <vessel-alerts></vessel-alerts>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <!-- TOP TOGGLE BAR END -->

  

</div>