<div id="v2components" class="container pt-5">
  <h3>V2 Components</h3>
  <p>Status Indicators</p>

  <div style="display: flex; align-items: center;">
    <div class="status-badge">
      Strategy
      <div class="status-indicator">
        <div class="count">179</div>
        <div class="bar" [ngStyle]="{'background-color': '#F08827'}"></div>
      </div>
    </div>

    <div class="status-badge">
      Created
      <div class="status-indicator">
        <div class="count">04</div>
        <div class="bar" [ngStyle]="{'background-color': '#F08827'}"></div>
      </div>
    </div>

    <div class="status-badge">
      Planned
      <div class="status-indicator">
        <div class="count">04</div>
        <div class="bar" [ngStyle]="{'background-color': '#F08827'}"></div>
      </div>
    </div>

    <div class="status-badge">
      Questionnaire
      <div class="status-indicator">
        <div class="count">02</div>
        <div class="bar" [ngStyle]="{'background-color': '#E35154'}"></div>
      </div>
    </div>

    <div class="status-badge">
      Validated
      <div class="status-indicator">
        <div class="count">00</div>
        <div class="bar" [ngStyle]="{'background-color': '#E35154'}"></div>
      </div>
    </div>

    <div class="status-badge">
      Inquired
      <div class="status-indicator">
        <div class="count">02</div>
        <div class="bar" [ngStyle]="{'background-color': '#E5C258'}"></div>
      </div>
    </div>

    <div class="status-badge">
      Quoted
      <div class="status-indicator">
        <div class="count">04</div>
        <div class="bar" [ngStyle]="{'background-color': '#E5C258'}"></div>
      </div>
    </div>

    <div class="status-badge">
      Stemmed
      <div class="status-indicator">
        <div class="count">01</div>
        <div class="bar" [ngStyle]="{'background-color': '#1AB346'}"></div>
      </div>
    </div>

  </div>

<div style="height: 10px;"></div>

  <div class="side-btn">
    All Vessels
  </div>

  <div style="height: 10px;"></div>

  <div class="muted-blue-badge">
    Price Comparison:
    <div class="bar-container">
      <div class="green-bar"><span>Best Price</span></div>
      <div class="red-bar"><span>Worst Price</span></div>
    </div>
  </div>

  <div style="height: 10px;"></div>

  <span>VLSFO Indicator</span>
  <div class="vlsfo-indicator">
    <img src="../../../assets/customicons/leaf.svg" alt="leaves" style="width: 15px; margin-right: 3px;">
    VLSFO
  </div>

  <div style="height: 10px;"></div>

  <span style="clear: both;display: block;">VESSEL TOOLTIP</span>
  <div class="row">
    <div class="vessel-tooltip m-r-10">
      Sea Princess
    </div>
    <div class="vessel-tooltip red m-r-10">
      Sea Princess
    </div>
    <div class="vessel-tooltip blue m-r-10">
      Sea Princess
    </div>
    <div class="vessel-tooltip yellow m-r-10">
      Sea Princess
    </div>
  </div>

  <div style="height: 10px;"></div>

  <span style="clear: both;display: block;">Advanced search result location popup</span>
  <div style="height: 17px; clear:both;">status-green</div>
  <div class="advanced-loc-popup status-green">
    <div class="fuel-img"></div>
    <div class="fuel-type"><span>HSFO</span></div>
    <div class="price"><span class="green-text">$483.27</span></div>
    <div class="value"><span class="green-text">-$0.3 <div class="img"></div></span></div>
  </div>

  <div style="height: 17px; clear:both;">status-red</div>

  <div class="advanced-loc-popup status-red">
      <div class="fuel-img"></div>
      <div class="fuel-type"><span>HSFO</span></div>
      <div class="price"><span class="red-text">$483.27</span></div>
      <div class="value"><span class="red-text">-$0.3 <div class="img"></div></span></div>
  </div>

  <div style="height: 17px; clear:both;">status-blue</div>

  <div class="advanced-loc-popup status-blue">
      <div class="fuel-img"></div>
      <div class="fuel-type"><span>HSFO</span></div>
      <div class="price"><span>$483.27</span></div>
      <div class="value"><span class="red-text">-$0.3 <div class="img"></div></span></div>
    </div>
    <div style="height: 17px; clear:both;">status-skyblue</div>

  <div class="advanced-loc-popup status-skyblue">
      <div class="fuel-img"></div>
      <div class="fuel-type"><span>HSFO</span></div>
      <div class="price"><span>$483.27</span></div>
      <div class="value"><span class="red-text">-$0.3 <div class="img"></div></span></div>
  </div>

  <div style="height: 17px; clear:both;">status-lightgreen</div>
  <div class="advanced-loc-popup status-lightgreen">
      <div class="fuel-img"></div>
      <div class="fuel-type"><span>HSFO</span></div>
      <div class="price"><span>$483.27</span></div>
      <div class="value"><span class="red-text">-$0.3 <div class="img"></div></span></div>
  </div>

  <div style="height: 17px; clear:both;">status-purple</div>
  <div class="advanced-loc-popup status-purple">
      <div class="fuel-img"></div>
      <div class="fuel-type"><span>HSFO</span></div>
      <div class="price"><span>$483.27</span></div>
      <div class="value"><span class="red-text">-$0.3 <div class="img"></div></span></div>
  </div>

    <div style="height: 10px; clear:both;"></div>
    <div style="clear: both;display: block;">Highlighted port</div>

    <div class="port-glow">
      <div class="glow-port-icon">
        <img  src="../../../assets/images/port_glow_red.svg" alt="Port Icon">
        <div class="port-name">Honduras</div>
      </div>
      <div class="bunker-strategy-chip">Bunker Strategy</div>
    </div>
    <!---->
    <div class="port-glow">
        <div class="glow-port-icon">
          <img  src="../../../assets/images/port_glow_green.svg" alt="Port Icon">
          <div class="port-name">Honduras</div>
        </div>
        <div class="bunker-strategy-chip">Bunker Strategy</div>
      </div>
      <div class="port-glow">
          <div class="glow-port-icon">
            <img  src="../../../assets/images/port_glow_amber.svg" alt="Port Icon">
            <div class="port-name">Honduras</div>
          </div>
          <div class="bunker-strategy-chip">Bunker Strategy</div>
        </div>
        <div class="port-glow">
            <div class="glow-port-icon">
              <img  src="../../../assets/images/port_glow_blue.svg" alt="Port Icon">
              <div class="port-name">Honduras</div>
            </div>
            <div class="bunker-strategy-chip">Bunker Strategy</div>
          </div>

    <div style="height: 10px; clear:both;"></div>
    <div style="clear: both;display: block;">Bunker strategy</div>
    <div class="bunker-strategy-chip">Bunker Strategy</div>

    <div style="height: 10px; clear:both;"></div>
    <div style="clear: both;display: block;">Strategic ports</div>
    <div class="strategic-ports status-badge">
      <span class="start-loc">Strategic Ports for Torm Lilly<span class="count">(3)</span></span>
      <span class="end-loc truncate-f160">Amsterdam, Honduras, Guatemala</span>
    </div>

</div>

<section id="other-components" class="pt-5">
  <div class="container">
    <h3>Other Components</h3>
    <button mat-button class="green-grey-button" matTooltip="Table View" matTooltipShowDelay="700">
      <img src="../../../assets/customicons/table.svg" alt="Table Icon"> Table View
    </button>

    <button mat-button class="green-grey-iconbutton" matTooltip="Table View" matTooltipShowDelay="700">
      <img src="../../../assets/customicons/table.svg" alt="Table Icon">
    </button>

    <button mat-button class="dark-iconbutton" matTooltip="Expand Filters" matTooltipShowDelay="700">
      <img src="../../../assets/customicons/expand.svg" alt="Expand Filters Icon">
    </button>

    <button mat-icon-button class="blue-icon-button">
      <i class="fas fa-table"></i>
    </button>

    <!-- <button mat-button class="blue-button" >Available Filters</button> -->
    <button mat-button class="blue-button" (click)="this.openAvailableFilters()">Available Filters</button>
    <button mat-button class="blue-button" (click)="this.openSaveFilter()">Save Pref</button>
    <button mat-button class="blue-button" (click)="this.openDeleteFilter()">Delete Filter</button>

  </div>
</section>

<div id="table-popups" class="container pt-5">
  <h3>Table Popups</h3>
  <div class="row">
    <div class="col-md-6">
      <h5>Table Options</h5>
      <div id="table-options">
        <div class="context-row">
          <img class="context-icon" src="../../../assets/customicons/circular_saveas.svg" alt="Save as pref"> Save as
          Preference
        </div>
        <div class="context-row">
          <img class="context-icon" src="../../../assets/customicons/circular_clearfilter.svg" alt="clear filter">
          Clear Filter
        </div>
        <div class="context-row">
          <img class="context-icon" src="../../../assets/customicons/circular_table.svg" alt="export excel"> Export to
          Excel</div>
        <div class="hide-column context-row">
          <img class="context-icon" src="../../../assets/customicons/circular_eye-line.svg" alt="Show or Hide columns">
          Hide or Show Columns
        </div>
      </div>
      <h5 class="pt-5">Show/Hide Columns</h5>
      <div id="show-hide-columns">
        <div id="popup-title" class="text-center">Hide or Show Column</div>
        <hr>
        <div class="row">
          <!-- Loop start -->
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">Select All</mat-checkbox>
          </div>
          <!-- Loop end -->
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">ETA</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">Name</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">Schedule</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">Type</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">Status</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">HSFO</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">Enquiry Status</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">USFO</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">Last Action</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">DOGO</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">Comment</mat-checkbox>
          </div>
          <div class="col-6">
            <mat-checkbox class="dark-checkbox noborder">Location</mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="float-right">
              <button mat-button class="blue-button" style="width: 100px;">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6">

      <h5>Search Box</h5>

      <!-- #region Search Box -->
      <div id="search-box" class="d-flex justify-content-between align-items-center">
        <!-- If button is not required, remove it and keep only <mat-icon> -->
        <button mat-icon-button (click)="toggleAdvancedSearch()">
          <mat-icon id="searchIcon" matPrefix>search</mat-icon>
        </button>
        <div class="br">
          <input id="vesselSearch" type="text" placeholder="Search for Vessels">
        </div>
        <button mat-icon-button>
          <!-- <mat-icon id="sortIcon" matSuffix>sort</mat-icon> -->
          <img id="filter-icon" src="../../../assets/customicons/filter.svg" alt="Filter Icon">
        </button>
      </div>
      <!-- #endregion Search Box -->


      <section class="pt-5">
        <h5>Loading Spinners</h5>

        <div id="spinner">
          <div class="spinner-dark"></div>
          <div class="spinner-white"></div>
        </div>

      </section>


    </div>
  </div>
</div>

<div id="overlay" class="inactive"></div>


<!-- v2 Search Popup Start -->
<section id="v2Search" [ngClass]="this.advancedSearchToggle ? 'active' : 'inactive'">

  <div id="dark-search-box" class="d-flex justify-content-between align-items-center">
    <button mat-icon-button (click)="toggleAdvancedSearch()">
      <mat-icon id="searchIcon" matPrefix>search</mat-icon>
    </button>
    <div class="br">
      <input id="vesselSearch" type="text" placeholder="Search the Map">
    </div>
    <img class="remove-text" src="../../../assets/customicons/remove_text.svg" alt="icon">
    <button mat-icon-button style="width: 25px;">
      <mat-icon style="color: #527292">filter_list</mat-icon>      
    </button>
  </div>

  <div class="d-flex justify-content-between">
    <!-- <div id="vesselList">
      <div class="title">My Vessel List</div>
      <div class="vesselContainer">
        <div *ngFor = "let vessel of customVessels" class="truncate-f120" matTooltip="{{vessel}}" matTooltipShowDelay="700">{{vessel}}</div>
      </div>
    </div> -->

    <div id="searchHistory">
      <div class="title"><strong>Search Recommendations</strong></div>
      <div class="searchContainer">
        <div class="single-search-item">
          <mat-icon>search</mat-icon>
        <div class="truncate-f310">
          <span class="keyword">HSFO</span>
          <strong>Price</strong> around the world</div>
        </div>
        <div class="single-search-item">
          <mat-icon>search</mat-icon>
          <div class="truncate-f310">
            <span class="keyword">DOGO</span>
          <strong>Price</strong> in Amsterdam as of 2019</div>
        </div>
        <div class="single-search-item">
          <mat-icon>search</mat-icon>
          <div class="truncate-f310">
            <span class="keyword">IFO380</span>
          <strong>Availability</strong> in New Orleans</div>
        </div>
        <div class="single-search-item">
          <mat-icon>search</mat-icon>
          <div class="truncate-f310">
            <span class="keyword">GYDA</span>
          Vessel</div>
        </div>
        <div class="single-search-item">
          <mat-icon>search</mat-icon>
          <div class="truncate-f310">
            <span class="keyword">HSFO</span>
          <strong>Contract Price</strong> on world view</div>
        </div>
        <div class="single-search-item">
          <mat-icon>search</mat-icon>
          <div class="truncate-f310">
            <span class="keyword">HSFO</span>
          Contract Price on world view</div>
        </div>
        <div class="single-search-item">
          <mat-icon>search</mat-icon>
          <div class="truncate-f310">
            <span class="keyword">HSFO</span>
          Contract Price on world view</div>
        </div>
      </div>

    </div>
  </div>


    <div id="slider" (click)="toggleAdvancedSearch()">
      <mat-icon>arrow_left</mat-icon>
    </div>


</section>
<!-- v2 Search Popup end -->