<div class="remove-terminal-section">
  <div class="close-btn"><img id="close-icon" src="../../../assets/customicons/close.svg" alt="list"></div>
  <div class="warning-title"><img id="warning-icon" src="../../../assets/customicons/warning.svg" alt="list"><span class="p-l-10">Warning</span></div>
  <p>Are you sure you want to remove the Terminal? Are you sure you want to remove the Terminal? Are you sure you want to remove the Terminal?</p>
  <div class="yes-no">
      <button mat-raised-button class="red-button">    
        <span>Yes</span>
      </button>
      <button mat-raised-button class="blue-button">    
        <span>No</span>
      </button>
  </div>
</div>
