<div class="container pt-5">

  <div>
    <p>Major Port Info on appropriate zoom levels</p>

    <!-- Copy Code Start -->
    <div id="major-port-info">
      <div class="float-left pr-2">
        <img src="../../../assets/customicons/port.svg" alt="Port Icon">
      </div>
      <div class="float-left pr-2 " id="port-name">
        <div class="truncate-80">
          Jacksonvillejkjkjhkj
        </div>
      </div>
      <div class="float-left text-center">
        <div class="fuel-type">
          <div class="truncate-40">HSFO</div>
        </div>
        <div class="fuel-value">
          <div class="truncate-40">$42398.00</div>
        </div>
      </div>
    </div>
    <!-- Copy Code End -->
  </div>

  <div class="pt-5">
    <p>Minor Port Info on appropriate zoom levels</p>

    <!-- Copy Code Start -->
    <div id="minor-port-info">
      <div class="float-left pr-2">
        <img class="minor-port-icon" src="../../../assets/customicons/port.svg" alt="Port Icon">
      </div>
      <div class="float-left pr-2 " id="port-name">
        <div class="truncate-60">
          Savannah
        </div>
      </div>
      <div class="float-left text-center">
        <div class="fuel-type">
          <div class="truncate-40">HSFO</div>
        </div>
        <div class="fuel-value">
          <div class="truncate-40">$423.00</div>
        </div>
      </div>
    </div>
    <!-- Copy Code End -->
  </div>

  <div class="pt-5">
    <p>Hoverable Major Port Info</p>

        <!-- Copy code start -->
        <div class="major-port-hover">
          <div class="float-left pr-2 d-flex align-items-center" matTooltip="Jacksonville" matTooltipShowDelay="500">
            <div class="float-left">
              <img class="major-port-icon" src="../../../assets/customicons/port.svg" alt="Port Icon">
            </div>
            <div class="fs12 float-left" id="port-name">
              <div class="truncate-80">Jacksonville</div>
            </div>
          </div>
    
          <div class="float-left text-center">
            <div class="fuel-type">
              <div class="truncate-40">HSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$423.00</div>
            </div>
          </div>
          <div id="block2" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">ULSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$476.00</div>
            </div>
          </div>
          <div id="block3" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">DOGO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$702.00</div>
            </div>
          </div>
        </div>
        <!-- Copy code end -->
  </div>

  <div class="pt-5">
    <p>Hoverable Minor Port Info</p>

    <!-- Copy code start -->
    <div class="minor-port-hover">
      <div class="float-left pr-2 d-flex align-items-center" matTooltip="Jacksonville" matTooltipShowDelay="500">
        <div class="float-left">
          <img class="minor-port-icon" src="../../../assets/customicons/port.svg" alt="Port Icon">
        </div>
        <div class="fs12 float-left" id="port-name">
          <div class="truncate-60">Jacksonville</div>
        </div>
      </div>

      <div class="float-left text-center">
        <div class="fuel-type">
          <div class="truncate-40">HSFO</div>
        </div>
        <div class="fuel-value">
          <div class="truncate-40">$423.00</div>
        </div>
      </div>
      <div id="block2" class="float-left text-center pl-3">
        <div class="fuel-type">
          <div class="truncate-40">ULSFO</div>
        </div>
        <div class="fuel-value">
          <div class="truncate-40">$476.00</div>
        </div>
      </div>
      <div id="block3" class="float-left text-center pl-3">
        <div class="fuel-type">
          <div class="truncate-40">DOGO</div>
        </div>
        <div class="fuel-value">
          <div class="truncate-40">$702.00</div>
        </div>
      </div>
    </div>
    <!-- Copy code end -->


  </div>

  <div class="pt-5">
    <p>[NEW] Major Port and Minor Port Icons - SVG</p>
    <div class="major-port-icons" style="background: #37414F;width: 150px;padding: 5px;">
      <img class="major-port-icon-svg" width="15" height="15" src="../../../assets/customicons/port/major-port-red.svg" alt="Port Icon">
      <img class="major-port-icon-svg" width="15" height="15" src="../../../assets/customicons/port/major-port-amber.svg" alt="Port Icon">
      <img class="major-port-icon-svg" width="15" height="15" src="../../../assets/customicons/port/major-port-green.svg" alt="Port Icon">
      <img class="major-port-icon-svg" width="15" height="15" src="../../../assets/customicons/port/major-port-blue.svg" alt="Port Icon">
    </div>
    <div class="minor-port-icons m-t-5" style="background: #37414F;width: 150px;padding: 5px;">
      <img class="minor-port-icon-svg" width="12" height="12" src="../../../assets/customicons/port/minor-port-red.svg" alt="Port Icon">
      <img class="minor-port-icon-svg" width="12" height="12" src="../../../assets/customicons/port/minor-port-amber.svg" alt="Port Icon">
      <img class="minor-port-icon-svg" width="12" height="12" src="../../../assets/customicons/port/minor-port-green.svg" alt="Port Icon">
      <img class="minor-port-icon-svg" width="12" height="12" src="../../../assets/customicons/port/minor-port-blue.svg" alt="Port Icon">
    </div>
  </div>

  <div class="pt-5">
      <p>[NEW] Major Port and Minor Port Icons - PNG</p>
      <div class="major-port-icons" style="background: #37414F;width: 150px;padding: 5px;">
        <img class="major-port-icon-png" width="15" height="15" src="../../../assets/customicons/port/major-port-red.png" alt="Port Icon">
        <img class="major-port-icon-png" width="15" height="15" src="../../../assets/customicons/port/major-port-amber.png" alt="Port Icon">
        <img class="major-port-icon-png" width="15" height="15" src="../../../assets/customicons/port/major-port-green.png" alt="Port Icon">
        <img class="major-port-icon-png" width="15" height="15" src="../../../assets/customicons/port/major-port-blue.png" alt="Port Icon">
      </div>
      <div class="minor-port-icons m-t-5" style="background: #37414F;width: 150px;padding: 5px;">
        <img class="minor-port-icon-png" width="12" height="12" src="../../../assets/customicons/port/minor-port-red.png" alt="Port Icon">
        <img class="minor-port-icon-png" width="12" height="12" src="../../../assets/customicons/port/minor-port-amber.png" alt="Port Icon">
        <img class="minor-port-icon-png" width="12" height="12" src="../../../assets/customicons/port/minor-port-green.png" alt="Port Icon">
        <img class="minor-port-icon-png" width="12" height="12" src="../../../assets/customicons/port/minor-port-blue.png" alt="Port Icon">
      </div>
    </div>

    <div class="pt-5">
      <p>[LATEST] Major Port and Minor Port Icons - SVG</p>
      <div class="major-port-icons" style="background: #C4C4C4;width: 150px;padding: 5px;">
        <img class="major-port-icon-svg" width="22.36" height="22.36" src="../../../assets/customicons/port/new/major-port-red.svg" alt="Port Icon">
        <img class="major-port-icon-svg" width="22.36" height="22.36" src="../../../assets/customicons/port/new/major-port-amber.svg" alt="Port Icon">
        <img class="major-port-icon-svg" width="22.36" height="22.36" src="../../../assets/customicons/port/new/major-port-green.svg" alt="Port Icon">
        <img class="major-port-icon-svg" width="22.36" height="22.36" src="../../../assets/customicons/port/new/major-port-blue.svg" alt="Port Icon">
      </div>
      <div class="minor-port-icons m-t-5" style="background: #C4C4C4;width: 150px;padding: 5px;">
        <img class="minor-port-icon-svg" width="15" height="15" src="../../../assets/customicons/port/new/minor-port-red.svg" alt="Port Icon">
        <img class="minor-port-icon-svg" width="15" height="15" src="../../../assets/customicons/port/new/minor-port-amber.svg" alt="Port Icon">
        <img class="minor-port-icon-svg" width="15" height="15" src="../../../assets/customicons/port/new/minor-port-green.svg" alt="Port Icon">
        <img class="minor-port-icon-svg" width="15" height="15" src="../../../assets/customicons/port/new/minor-port-blue.svg" alt="Port Icon">
      </div>
    </div>

    <div class="pt-5">
      <p>[LATEST] Major Port and Minor Port Icons - PNG</p>
      <div class="major-port-icons" style="background: #C4C4C4;width: 150px;padding: 5px;">
        <img class="major-port-icon-png" width="22.36" height="22.36" src="../../../assets/customicons/port/new/major-port-red.png" alt="Port Icon">
        <img class="major-port-icon-png" width="22.36" height="22.36" src="../../../assets/customicons/port/new/major-port-amber.png" alt="Port Icon">
        <img class="major-port-icon-png" width="22.36" height="22.36" src="../../../assets/customicons/port/new/major-port-green.png" alt="Port Icon">
        <img class="major-port-icon-png" width="22.36" height="22.36" src="../../../assets/customicons/port/new/major-port-blue.png" alt="Port Icon">
      </div>
      <div class="minor-port-icons m-t-5" style="background:#C4C4C4;width: 150px;padding: 5px;">
        <img class="minor-port-icon-png" width="15" height="15" src="../../../assets/customicons/port/new/minor-port-red.png" alt="Port Icon">
        <img class="minor-port-icon-png" width="15" height="15" src="../../../assets/customicons/port/new/minor-port-amber.png" alt="Port Icon">
        <img class="minor-port-icon-png" width="15" height="15" src="../../../assets/customicons/port/new/minor-port-green.png" alt="Port Icon">
        <img class="minor-port-icon-png" width="15" height="15" src="../../../assets/customicons/port/new/minor-port-blue.png" alt="Port Icon">
      </div>
    </div>

  <div class="pt-5">
    <p>[NEW] Hoverable Major Port Info</p>

        <!-- Copy code start - blue -->
        <div class="major-port">
          <div class="pr-2 d-flex align-items-center" matTooltip="Jacksonville" matTooltipShowDelay="500">
            <div class="d-flex align-items-center" style="position: relative; top: -1px;">
              <img class="major-port-icon" src="../../../assets/customicons/port/major-port2-blue.svg" alt="Port Icon">
            </div>
            <div class="portname fs12 float-left">
              <div class="truncate-f80">Jacksonville</div>
            </div>
          </div>
    
          <div class="float-left text-center">
            <div class="fuel-type">
              <div class="truncate-40">VLSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$496.00</div>
            </div>
          </div>
          <div id="block2" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">HSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$423.00</div>
            </div>
          </div>
          <div id="block3" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">ULSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$702.00</div>
            </div>
          </div>
          <div id="block4" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">DOGO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$732.00</div>
            </div>
          </div>
        </div>
        <!-- Copy code end -->

        <div style ="height:10px"></div>
        <!-- Copy code start - red -->
        <div class="major-port">
          <div class="pr-2 d-flex align-items-center" matTooltip="Jacksonville" matTooltipShowDelay="500">
            <div class="d-flex align-items-center" style="position: relative; top: -1px;">
              <img class="major-port-icon" src="../../../assets/customicons/port/major-port2-red.svg" alt="Port Icon">
            </div>
            <div class="portname fs12 float-left">
              <div class="truncate-f80">Jacksonville</div>
            </div>
          </div>
    
          <div class="float-left text-center">
            <div class="fuel-type">
              <div class="truncate-40">VLSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$496.00</div>
            </div>
          </div>
          <div id="block2" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">HSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$423.00</div>
            </div>
          </div>
          <div id="block3" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">ULSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$702.00</div>
            </div>
          </div>
          <div id="block4" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">DOGO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$732.00</div>
            </div>
          </div>
        </div>
        <!-- Copy code end -->
        <div style ="height:10px"></div>
        <!-- Copy code start - amber -->
        <div class="major-port">
          <div class="pr-2 d-flex align-items-center" matTooltip="Jacksonville" matTooltipShowDelay="500">
            <div class="d-flex align-items-center" style="position: relative; top: -1px;">
              <img class="major-port-icon" src="../../../assets/customicons/port/major-port2-amber.svg" alt="Port Icon">
            </div>
            <div class="portname fs12 float-left">
              <div class="truncate-f80">Jacksonville</div>
            </div>
          </div>
    
          <div class="float-left text-center">
            <div class="fuel-type">
              <div class="truncate-40">VLSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$496.00</div>
            </div>
          </div>
          <div id="block2" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">HSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$423.00</div>
            </div>
          </div>
          <div id="block3" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">ULSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$702.00</div>
            </div>
          </div>
          <div id="block4" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">DOGO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$732.00</div>
            </div>
          </div>
        </div>
        <!-- Copy code end -->
        <div style ="height:10px"></div>
        <!-- Copy code start - green -->
        <div class="major-port">
          <div class="pr-2 d-flex align-items-center" matTooltip="Jacksonville" matTooltipShowDelay="500">
            <div class="d-flex align-items-center" style="position: relative; top: -1px;">
              <img class="major-port-icon" src="../../../assets/customicons/port/major-port2-green.svg" alt="Port Icon">
            </div>
            <div class="portname fs12 float-left">
              <div class="truncate-f80">Jacksonville</div>
            </div>
          </div>
    
          <div class="float-left text-center">
            <div class="fuel-type">
              <div class="truncate-40">VLSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$496.00</div>
            </div>
          </div>
          <div id="block2" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">HSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$423.00</div>
            </div>
          </div>
          <div id="block3" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">ULSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$702.00</div>
            </div>
          </div>
          <div id="block4" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">DOGO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$732.00</div>
            </div>
          </div>
        </div>
        <!-- Copy code end -->
  </div>

  <div class="pt-5">
    <p>[NEW] Hoverable Minor Port Info</p>

        <!-- Copy code start -->
        <div class="minor-port">
          <div class="pr-2 d-flex align-items-center" matTooltip="Savannah" matTooltipShowDelay="500">
            <div class="d-flex align-items-center" style="position: relative; top: -1px;">
              <img class="minor-port-icon" src="../../../assets/customicons/port/minor-port2-blue.svg" alt="Port Icon">
            </div>
            <div class="portname fs12">
              <div class="truncate-f80">Savannah</div>
            </div>
          </div>
    
          <div class="float-left text-center">
            <div class="fuel-type">
              <div class="truncate-40">VLSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$445.00</div>
            </div>
          </div>
          <div id="block2" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">HSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$473.50</div>
            </div>
          </div>
          <div id="block3" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">ULSFO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$714.65</div>
            </div>
          </div>
          <div id="block4" class="float-left text-center pl-3">
            <div class="fuel-type">
              <div class="truncate-40">DOGO</div>
            </div>
            <div class="fuel-value">
              <div class="truncate-40">$714.65</div>
            </div>
          </div>
        </div>
        <!-- Copy code end -->
        <div style ="height:10px"></div>
        <!-- Copy code start -->
        <div class="minor-port">
            <div class="pr-2 d-flex align-items-center" matTooltip="Savannah" matTooltipShowDelay="500">
              <div class="d-flex align-items-center" style="position: relative; top: -1px;">
                <img class="minor-port-icon" src="../../../assets/customicons/port/minor-port2-green.svg" alt="Port Icon">
              </div>
              <div class="portname fs12">
                <div class="truncate-f80">Savannah</div>
              </div>
            </div>
      
            <div class="float-left text-center">
              <div class="fuel-type">
                <div class="truncate-40">VLSFO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$445.00</div>
              </div>
            </div>
            <div id="block2" class="float-left text-center pl-3">
              <div class="fuel-type">
                <div class="truncate-40">HSFO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$473.50</div>
              </div>
            </div>
            <div id="block3" class="float-left text-center pl-3">
              <div class="fuel-type">
                <div class="truncate-40">ULSFO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$714.65</div>
              </div>
            </div>
            <div id="block4" class="float-left text-center pl-3">
              <div class="fuel-type">
                <div class="truncate-40">DOGO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$714.65</div>
              </div>
            </div>
          </div>
          <!-- Copy code end -->
          <div style ="height:10px"></div>
          <!-- Copy code start -->
        <div class="minor-port">
            <div class="pr-2 d-flex align-items-center" matTooltip="Savannah" matTooltipShowDelay="500">
              <div class="d-flex align-items-center" style="position: relative; top: -1px;">
                <img class="minor-port-icon" src="../../../assets/customicons/port/minor-port2-amber.svg" alt="Port Icon">
              </div>
              <div class="portname fs12">
                <div class="truncate-f80">Savannah</div>
              </div>
            </div>
      
            <div class="float-left text-center">
              <div class="fuel-type">
                <div class="truncate-40">VLSFO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$445.00</div>
              </div>
            </div>
            <div id="block2" class="float-left text-center pl-3">
              <div class="fuel-type">
                <div class="truncate-40">HSFO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$473.50</div>
              </div>
            </div>
            <div id="block3" class="float-left text-center pl-3">
              <div class="fuel-type">
                <div class="truncate-40">ULSFO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$714.65</div>
              </div>
            </div>
            <div id="block4" class="float-left text-center pl-3">
              <div class="fuel-type">
                <div class="truncate-40">DOGO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$714.65</div>
              </div>
            </div>
          </div>
          <!-- Copy code end -->
          <div style ="height:10px"></div>
          <!-- Copy code start -->
        <div class="minor-port">
            <div class="pr-2 d-flex align-items-center" matTooltip="Savannah" matTooltipShowDelay="500">
              <div class="d-flex align-items-center" style="position: relative; top: -1px;">
                <img class="minor-port-icon" src="../../../assets/customicons/port/minor-port2-red.svg" alt="Port Icon">
              </div>
              <div class="portname fs12">
                <div class="truncate-f80">Savannah</div>
              </div>
            </div>
      
            <div class="float-left text-center">
              <div class="fuel-type">
                <div class="truncate-40">VLSFO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$445.00</div>
              </div>
            </div>
            <div id="block2" class="float-left text-center pl-3">
              <div class="fuel-type">
                <div class="truncate-40">HSFO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$473.50</div>
              </div>
            </div>
            <div id="block3" class="float-left text-center pl-3">
              <div class="fuel-type">
                <div class="truncate-40">ULSFO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$714.65</div>
              </div>
            </div>
            <div id="block4" class="float-left text-center pl-3">
              <div class="fuel-type">
                <div class="truncate-40">DOGO</div>
              </div>
              <div class="fuel-value">
                <div class="truncate-40">$714.65</div>
              </div>
            </div>
          </div>
          <!-- Copy code end -->
  </div>


</div>
