<div *ngIf="type=='button'">
    <div class="d-flex" style="flex-wrap: wrap;" style="margin: 10px;">
        <button class="btnV2 primary">Primary</button>
        <button class="btnV2 primary" disabled>Disabled</button>
        <button class="btnV2 warning">Warning</button>
    </div>
</div>
<div *ngIf="type=='moleculebutton'">
    <div class="molecule-link-button" style="position: unset !important; margin-left: 15px;" >
        <span class="navigate-icon"></span>
        <span class="label">Book paper in</span>
        <span class="molecule-icon"></span>
    </div>
</div>