<div class="price-list-page">
  <div class="price-list-header p-l-15">
    <!-- New Menu Button -->
    <div id="menu-button" [matMenuTriggerFor]="togglecolumn">
      <div id="menu-button-dots">
        <div id="dot1" class="dot"></div>
        <div id="dot2" class="dot"></div>
        <div id="dot3" class="dot"></div>
        <div id="dot4" class="dot"></div>
        <div id="dot5" class="dot"></div>
        <div id="dot6" class="dot"></div>
        <div id="dot7" class="dot"></div>
        <div id="dot8" class="dot"></div>
        <div id="dot9" class="dot"></div>
      </div>
    </div>
    <!-- New Menu Button: End -->
    <span style="height: 25px;">
      <app-headerchip [chipStatus]="'active-chip'" [heading]="'Default'"></app-headerchip>
      <app-headerchip  [heading]="'  Physical an Vitol'"></app-headerchip>
      <app-headerchip  [heading]="'BP Marine Fuels'"></app-headerchip>
      <app-morefilterchip></app-morefilterchip>
      </span>

    <!-- <span style="margin-left:8px " class="header-chip">
      <mat-chip-list>
        <mat-chip class="active-chip text-center" matTooltip="Shell D14 Physical" [matTooltipShowDelay]="500">
          <div class="truncate-f100 text-center title-divider">
            Default
          </div>
          <div class="pin-icon">           
            <div class="img"></div>
          </div>
        </mat-chip>

        <mat-chip class="inactive-chip text-center" matTooltip="Physical an Vitol" [matTooltipShowDelay]="500">
          <div class="truncate-f100 text-center title-divider">
            Physical an Vitol
          </div>
          <div class="pin-icon">
            
            <div class="img"></div>
          </div>
        </mat-chip>

        <mat-chip class="inactive-chip text-center" matTooltip="BP Marine Fuels" [matTooltipShowDelay]="500">
          <div class="truncate-f100 text-center title-divider">
            BP Marine Fuels
          </div>
          <div class="pin-icon">
            
            <div class="img"></div>
          </div>
        </mat-chip>
      </mat-chip-list>
      <div class="expand-filters">
        <img src="../../../assets/customicons/dot-group.svg" alt="More Filters" matTooltip="Expand Filters">
      </div>     
    </span> -->
    <div class="header-right-block">
       <div class="rack-match p-t-4" matTooltip="Match" matTooltipShowDelay="500">
        <button mat-raised-button class="green-button h-25" [disabled]="disableBtn" (click)= 'deliveryConfirmation()'>Actualise</button>
      </div>
      <div class="button-right">
        <button class="blue-button h-25 w-28" style="padding: 0px !important;">
            <img id="refresh-icon" src="../../../assets/customicons/refresh_w.svg" alt="refresh">
        </button>
      </div>


      <!-- <div class="refresh-toggle">
        <div class="refresh-icon">
          <img class="p-r-10" src="../../../assets/customicons/refresh_blue.svg" alt="refresh">
        </div>
        <div class="slide-toggle" (click)="headerToggle();">
          <img class="p-r-10" src="../../../assets/customicons/toggle-arrow.svg" class="header-slide" alt="header-slide">
        </div>
      </div> -->
    </div>
  </div>
  <!--Dropdown menu-->
  <mat-menu class="hideshow no-boxshadow" #togglecolumn yPosition="below" xPosition="before" [overlapTrigger]="false">
    <div class="tbl-context no-border">
      <!-- <div class="b-bottom p-tb-10">
              <span>
                <img class="p-r-10" src="../../../assets/customicons/context-new-trade.svg" alt="new Trade icon">
              </span>
              <span>Add New Price</span>
            </div> -->
            <div class="p-tb-10">
              <span>
                <img class="p-r-10" src="../../../assets/customicons/context-save-as.svg" alt="Savc As icon">
              </span>
              <span>Update Preference</span>
            </div>
            <div class="p-tb-10">
              <span>
                <img class="p-r-10" src="../../../assets/customicons/context-save-as.svg" alt="Savc As icon">
              </span>
              <span>Save Preference As</span>
            </div>
            <!-- <div class="p-tb-10">
              <span>
                <img class="p-r-10" src="../../../assets/customicons/context-export-excel.svg" alt="export to excel icon">
              </span>
              <span>Export To Excel</span>
            </div> -->
            <div class="b-top p-0 m-b-5"></div>
            <div class="p-tb-10">
              <span class="context-menu-circle m-r-10">
                <img src="../../../assets/customicons/bin_w.svg" alt="Savc As icon">
              </span>
              <span>Remove selected BLs</span>
            </div>
            <div class="b-top p-0 m-b-5"></div>
            <div class="p-tb-10" (click)="change_rowdensity()">
              <span>
                <img class="p-r-10" src="{{isdisplaydensityhigh?'../../../assets/customicons/isdisplaydensity-low.svg':'../../../assets/customicons/isdisplaydensity-high.svg'}}" alt="export to excel icon">
              </span>
              <span [ngClass]="{'aggrid-dd-menu-high':isdisplaydensityhigh==false}">{{isdisplaydensityhigh? 'Display Density Low':'Display Density High'}}</span>
            </div>
          </div>
    </mat-menu>
    <div style="height: 100%;width: 100%; padding-top: 1px;" class="aggrid-container" [ngClass]="{'aggrid-dd-low':isdisplaydensityhigh==false}">
      <div style="width:50%; height: 100%; padding-right: 6px">  
        <div class="aggrid-headercontenet">    
            <div class="center-item">Bill of Lading List</div>
        </div>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>       
          <ag-grid-angular domLayout='normal' style="width: 100%;" [ngStyle]="isCollapsed?{'height': 'calc( 100vh - 110px )'} : {'height': 'calc( 100vh - 200px'}" [gridOptions]="gridOptions_purchase" [ngClass]="{'aggrid-dd-low':isdisplaydensityhigh==false}" (rowSelected)="onRowSelected($event)"  [singleClickEdit] ="true" class="ag-theme-material blrecon-unmatched-landing-grid-height-v2 aggrid-pinned-shadow angular-v9"></ag-grid-angular>
          <!-- <div style="font-size: 12px;font-weight:500;background-color: white; height: 35px;color: #828282; padding: 0px 10px;">
            <p class="aggrid-totalResults" style="width: 50%; float:left;margin:10px 0px;">
              <span>Total Results :</span><span class="aggrid-rowCount">{{rowCount_purchase}}</span>
            </p>
            <div class="export-excel" style="width: 130px;float:right;height: 100%;border-left: 1px solid #EAECEE;padding-left: 10px;">
              Export to Excel
              <div class="export-excel-icon"></div>
            </div>
           
          </div> -->
          <app-footer-v2 id="pagination1" class="dual-footer" [singleGrid]="false" [dualfooter]="true" [doublePagination]="false" [maxSize]="5" [rowCount]="rowCount_purchase"></app-footer-v2>
      </div>
      <div style="width:50%;height: 100%" [ngClass]="{'aggrid-dd-low':isdisplaydensityhigh==false}">
        <div class="aggrid-headercontenet">  
          <div class="center-item">Deliveries List</div>
        </div>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>  
          <ag-grid-angular [getMainMenuItems]="getMainMenuItems" domLayout='normal' 
          style="width: 100%;" 
          [ngStyle]="isCollapsed?{'height': 'calc( 100vh - 110px )'} : {'height': 'calc( 100vh - 200px'}" 
          [gridOptions]="gridOptions_sales" [ngClass]="{'aggrid-dd-low':isdisplaydensityhigh==false}"
           class="ag-theme-material blrecon-unmatched-Deliveries-grid-height-v2 aggrid-pinned-shadow angular-v9"></ag-grid-angular>
          <!-- <div style="font-size: 12px;font-weight:500;background-color: white; height: 35px;color: #828282; padding: 0px 10px;">
            <p class="aggrid-totalResults" style="width: 50%; float:left;margin:10px 0px;">
              <span>Total Results :</span><span class="aggrid-rowCount">{{rowCount_sales}}</span>
            </p>
            <div class="export-excel" style="width: 130px;float:right;height: 100%;border-left: 1px solid #EAECEE;padding-left: 10px;">
              Export to Excel
              <div class="export-excel-icon"></div>
            </div>
           
          </div> -->
          <app-footer-v2 id="pagination2" class="dual-footer" [singleGrid]="false" [maxSize]="5" [dualfooter]="true" [doublePagination]="true" [rowCount]="rowCount_sales"></app-footer-v2>
      </div>
</div>