<div class="create-invoice-section">
  <span class="close-btn"><img id="close-icon" src="../../../assets/customicons/close.svg" alt="list"></span>
  <p class="b-bottom title p-t-20 p-b-15 p-l-24">Choose Type of Invoicing</p>
  <div class="invoice-options p-l-24">
    <mat-radio-group class="invoice-types">
        <mat-radio-button class="invoice-types-button" value="counterparty">
          Group by Counterparty
        </mat-radio-button>
        <mat-radio-button class="invoice-types-button" value="trade">
          Group by Trade
        </mat-radio-button>
        <mat-radio-button class="invoice-types-button" value="delivery">
          Group by Delivery
        </mat-radio-button>
        <mat-radio-button class="invoice-types-button" value="invoice_per_line">
          One Invoice per Line
        </mat-radio-button>
    </mat-radio-group>
    <button mat-button class="blue-button">Proceed</button>
  </div>
</div>