<div class="counterparty-dialog republish">
    <div mat-dialog-title class="counterparty-dialogTitle p-tb-5 p-l-15 p-r-15">
        PRICE DATASET ID : 001
        <span>
            <img id="plus-icon" src="../../../assets/customicons/close_white.svg" alt="plus">
        </span>
    </div>
    <mat-dialog-content>
      <div class="counterparty-list-title">
        <p>UNPUBLISHED COUNTERPARTIES</p>
      </div>
      <div class="republish-content">
      <div class="counterparty-list-details">
        <div class="counterparty-list-header">
            <table class="table scroll alt-stripe bg-white br-tbl tr-shadow light-header">
                <thead>
                  <tr>
                    <th class="text-center"><mat-checkbox class="dark-checkbox noborder"></mat-checkbox></th>
                    <th>Counterparty</th>
                    <th class="text-center">Contact</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Email</th>
                  </tr>
                </thead>
                </table>
        </div>
        <table class="table scroll alt-stripe bg-white br-tbl tr-shadow light-header">
          <thead>
            <!--<tr>
              <th class="text-center"><mat-checkbox class="dark-checkbox noborder"></mat-checkbox></th>
              <th>Counterparty</th>
              <th class="text-center">Contact</th>
              <th class="text-center">Phone</th>
              <th class="text-center">Email</th>
            </tr>-->
          </thead>
          <tbody>
            <!-- Single Row Start -->
            <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
            </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
            <tr>
                <td class="text-center">
                  <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                </td>
                <td>
                  <p>Shell</p>
                </td>
                <td>
                  <p class="text-center">James</p>
                </td>
                <td>
                  <p class="text-center">9099090999</p>
                </td>
                <td>
                  <p class="text-center">Shell123@shell.co.in</p>
                </td>
            </tr>
              <!-- Single Row End -->
              <!-- Single Row Start -->
            <tr>
                <td class="text-center">
                  <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                </td>
                <td>
                  <p>Shell</p>
                </td>
                <td>
                  <p class="text-center">James</p>
                </td>
                <td>
                  <p class="text-center">9099090999</p>
                </td>
                <td>
                  <p class="text-center">Shell123@shell.co.in</p>
                </td>
            </tr>
              <!-- Single Row End -->
              <!-- Single Row Start -->
            <tr>
                <td class="text-center">
                  <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                </td>
                <td>
                  <p>Shell</p>
                </td>
                <td>
                  <p class="text-center">James</p>
                </td>
                <td>
                  <p class="text-center">9099090999</p>
                </td>
                <td>
                  <p class="text-center">Shell123@shell.co.in</p>
                </td>
            </tr>
              <!-- Single Row End -->
              <!-- Single Row Start -->
            <tr>
                <td class="text-center">
                  <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                </td>
                <td>
                  <p>Shell</p>
                </td>
                <td>
                  <p class="text-center">James</p>
                </td>
                <td>
                  <p class="text-center">9099090999</p>
                </td>
                <td>
                  <p class="text-center">Shell123@shell.co.in</p>
                </td>
            </tr>
              <!-- Single Row End -->
          </tbody>
        </table>
        <div class="notes-section">
            <input type="text" class="notes p-l-24" placeholder="Your Notes here"/>
          </div>
      </div>
      <button mat-raised-button class="sendmail-button mat-button">Send Mail</button>
    </div>
    <!--Published Counter Parties-->
    <div class="counterparty-list-title published">
        <p class="m-b-10">PUBLISHED COUNTERPARTIES</p>
      </div>
      <div class="republish-content publishedCounter">
      <div class="counterparty-list-details">
        <div class="counterparty-list-header">
            <table class="table scroll alt-stripe bg-white br-tbl tr-shadow light-header">
                <thead>
                  <tr>
                    <th class="text-center"><mat-checkbox class="dark-checkbox noborder"></mat-checkbox></th>
                    <th>Counterparty</th>
                    <th class="text-center">Contact</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Email</th>
                  </tr>
                </thead>
                </table>
        </div>
        <table class="table scroll alt-stripe bg-white br-tbl tr-shadow light-header">
          <thead>
            <!--<tr>
              <th class="text-center"><mat-checkbox class="dark-checkbox noborder"></mat-checkbox></th>
              <th>Counterparty</th>
              <th class="text-center">Contact</th>
              <th class="text-center">Phone</th>
              <th class="text-center">Email</th>
            </tr>-->
          </thead>
          <tbody>
            <!-- Single Row Start -->
            <tr>
              <td class="text-center">
                <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
              </td>
              <td>
                <p>Shell</p>
              </td>
              <td>
                <p class="text-center">James</p>
              </td>
              <td>
                <p class="text-center">9099090999</p>
              </td>
              <td>
                <p class="text-center">Shell123@shell.co.in</p>
              </td>
            </tr>
            <!-- Single Row End -->
            <!-- Single Row Start -->
            <tr>
                <td class="text-center">
                  <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                </td>
                <td>
                  <p>Shell</p>
                </td>
                <td>
                  <p class="text-center">James</p>
                </td>
                <td>
                  <p class="text-center">9099090999</p>
                </td>
                <td>
                  <p class="text-center">Shell123@shell.co.in</p>
                </td>
            </tr>
              <!-- Single Row End -->
              <!-- Single Row Start -->
            <tr>
                <td class="text-center">
                  <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                </td>
                <td>
                  <p>Shell</p>
                </td>
                <td>
                  <p class="text-center">James</p>
                </td>
                <td>
                  <p class="text-center">9099090999</p>
                </td>
                <td>
                  <p class="text-center">Shell123@shell.co.in</p>
                </td>
            </tr>
              <!-- Single Row End -->
              <!-- Single Row Start -->
            <tr>
                <td class="text-center">
                  <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                </td>
                <td>
                  <p>Shell</p>
                </td>
                <td>
                  <p class="text-center">James</p>
                </td>
                <td>
                  <p class="text-center">9099090999</p>
                </td>
                <td>
                  <p class="text-center">Shell123@shell.co.in</p>
                </td>
            </tr>
              <!-- Single Row End -->
              <!-- Single Row Start -->
            <tr>
                <td class="text-center">
                  <mat-checkbox class="dark-checkbox noborder"></mat-checkbox>
                </td>
                <td>
                  <p>Shell</p>
                </td>
                <td>
                  <p class="text-center">James</p>
                </td>
                <td>
                  <p class="text-center">9099090999</p>
                </td>
                <td>
                  <p class="text-center">Shell123@shell.co.in</p>
                </td>
            </tr>
              <!-- Single Row End -->
          </tbody>
        </table>

      </div>
      <button mat-raised-button class="sendmail-button mat-button">Resend</button>
    </div>
  </mat-dialog-content>
</div>

<!--Published Counter parties-->


  