<div class="shiptech-related-invoices">
<div class="header">
    Displaying all invoices related to request <b>REQ119208</b>
</div>
<div class="row">
    <div class="col-md-12">
<div class="match-grid" style="padding: 15px 0px;">
    <div class="title">Order 9827</div>
    <div class="agGrid-v2" style="margin: 0">
        <div style="width:100%;height: 250px;">
            <ag-grid-angular style="width: 100%;height: 100%;" [gridOptions]="gridOptions_data"
                class="ag-theme-material ag-grid-v2 angular-v9 prod-details" (cellClicked)="onCellClicked($event)"></ag-grid-angular>
        </div>
    </div>
  </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
<div class="match-grid" style="padding: 15px 0px;">
    <div class="title">Order 98983</div>
    <div class="agGrid-v2" style="margin: 0">
        <div style="width:100%;height: 250px;">
            <ag-grid-angular style="width: 100%;height: 100%;" [gridOptions]="gridOptions_data1"
                class="ag-theme-material ag-grid-v2 angular-v9 prod-details" (cellClicked)="onCellClicked($event)"></ag-grid-angular>
        </div>
    </div>
  </div>
  </div>
</div>
</div>