<mat-tab-group class="tab-container">
    <mat-tab label="SITE">
      <app-site-list *ngIf="!newSite"></app-site-list>
      <app-new-site *ngIf="newSite" (returnlist)="newSite=false"></app-new-site>
    </mat-tab>
  </mat-tab-group>
  <div class="create-new" matTooltip="Create New" matTooltipShowDelay="500" style="position: absolute;top: 6px;right: 20px;z-index: 999;">
    <button *ngIf="!newSite" mat-raised-button class="light-blue-button" (click)="newSite=!newSite">    
      <img id="plus-icon" style="top: -2px;position: relative;" src="../../../assets/customicons/plus_w.svg" alt="plus">
      <span style="top: -1px;position: relative;">Create New</span>
    </button>
    <button *ngIf="newSite" mat-raised-button class="site-master-save-button active" >Save</button>
    <button *ngIf="newSite" mat-raised-button class="site-master-reset-button active" >Reset</button>  
 </div>