<mat-tab-group class="tab-bar-blue">
  <mat-tab label="SCHEDULING">
    <app-pipeline-schedule></app-pipeline-schedule>
  </mat-tab>
  <mat-tab label="MATCHED LIST">
    <app-netout-list></app-netout-list>
  </mat-tab>
  <!-- <mat-tab label="BOOK-OUT LIST">
    <app-bookout-list></app-bookout-list>
  </mat-tab>
  <mat-tab label="DROPSHIP LIST">
    <app-dropship-list></app-dropship-list>
  </mat-tab> -->
</mat-tab-group>

<!-- <div class="refresh refresh-right" matTooltip="Refresh Data" matTooltipShowDelay="500">
  <button mat-raised-button class="blue-button">    
    <img id="refresh-icon" src="../../../assets/customicons/refresh_w.svg" alt="refresh">
  </button>
</div> -->