<mat-tab-group class="tab-bar-blue">
  <mat-tab label="TRADE LIST">
    <app-trade-list></app-trade-list>
  </mat-tab>
</mat-tab-group>
<div class="molecule-link-button">
      <span class="navigate-icon"></span>
      <span class="label">Book paper in</span>
      <span class="molecule-icon"></span>
</div>
<span class="header-line-seperator"></span>
<div class="create-new" matTooltip="Create New" matTooltipShowDelay="500">
    <button mat-raised-button class="light-blue-button">    
      <img id="plus-icon" style="top: -2px;position: relative;" src="../../../assets/customicons/plus_w.svg" alt="plus">
      <span style="top: -1px;position: relative;">Create New</span>
    </button>
</div>
