<!-- <mat-dialog-content> -->
    <span class="dialog-title-bg">Invoice - Summary</span>
      <mat-icon id="dialogCloseButton" matSuffix class="float-right" (click)="closeDialog()">close</mat-icon>
      <hr>
      <div class="product-details-block">
      <table>
        <thead>
          <tr>
            <th >S.No</th>
            <th class="mid-col">Delivery No</th>
            <th class="mid-col">Counterparty</th>
            <th class="text-center">Bill To</th>
            <th class="mid-col" >Product</th>
            <th class="mid-col text-right">Amount</th>
            <th class="mid-col">Due Date</th>
            <th class="bg-col">Payment Terms</th>
            <th class="mid-col">AP/AR</th>
            <th class="text-left bg-col">Counterpart Ref</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >1</td>
            <td class="mid-col">BL099887-1</td>
            <td class="mid-col">Shell USA</td>
            <td class="text-center"><div class="dashedcellborder" >Jack Mia</div></td>
            <td class="mid-col" > RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="mid-col">12/04/2019</td>
            <td class="bg-col">Condition Based</td>
            <td class="mid-col">AP</td>
            <td class="text-left bg-col">AP</td>
          </tr>
          <tr>
            <td >1</td>
            <td class="mid-col">BL099887-1</td>
            <td class="mid-col">Shell USA</td>
            <td class="text-center"><div class="dashedcellborder">Jerome Tame</div></td>
            <td class="mid-col">RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="mid-col">12/04/2019</td>
            <td class="bg-col">Condition Based</td>
            <td class="mid-col">AP</td>
            <td class="text-left bg-col">AP</td>
          </tr>
          <tr>
            <td >1</td>
            <td class="mid-col">BL099887-1</td>
            <td class="mid-col">Shell USA</td>
            <td class="text-center"> <div class="dashedcellborder">Miller Thoms</div></td>
            <td class="mid-col">RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="mid-col">12/04/2019</td>
            <td class="bg-col">Condition Based</td>
            <td class="mid-col">AP</td>
            <td class="text-left bg-col">AP</td>
          </tr>
          <tr>
            <td >1</td>
            <td class="mid-col">BL099887-1</td>
            <td class="mid-col">Shell USA</td>
            <td class="text-center"> <div class="dashedcellborder">Jain Jens</div></td>
            <td class="mid-col">RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="mid-col">12/04/2019</td>
            <td class="bg-col">Condition Based</td>
            <td class="mid-col">AP</td>
            <td class="text-left bg-col">AP</td>
          </tr>
          <tr>
            <td >1</td>
            <td class="mid-col">BL099887-1</td>
            <td class="mid-col"> Shell USA</td>
            <td class="text-center"><div class="dashedcellborder">Tom Danny</div></td>
            <td class="mid-col">RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="mid-col">12/04/2019</td>
            <td class="bg-col">Condition Based</td>
            <td class="mid-col">AP</td>
            <td class="text-left bg-col">AP</td>
          </tr>
          <tr>
            <td >1</td>
            <td class="mid-col">BL099887-1</td>
            <td class="mid-col">Shell USA</td>
            <td class="text-center"><div class="dashedcellborder">Anderson</div></td>
            <td class="mid-col">RMG 380</td>
            <td class="mid-col text-right">12500 USD</td>
            <td class="mid-col">12/04/2019</td>
            <td class="bg-col">Condition Based</td>
            <td class="mid-col">AP</td>
            <td class="text-left bg-col">AP</td>
          </tr>
          

      </tbody>
      </table>
      </div>
        
      
      <!-- </mat-dialog-content> -->
      
      <mat-dialog-actions class="float-right">
        <button tabindex="-1" mat-button [mat-dialog-close]="true" style="width: 100px">CANCEL</button>
        <button class="blue-button" mat-button [mat-dialog-close]="true" mat-focused style="width: 100px">PROCEED</button>
      </mat-dialog-actions>